extends ./../partials/head
block content
  .form-main-wrapper
    form.form-wrapper(action="/auth/register" method="post")
      .form-header
        span.form-header-title Registrieren
      input.form-input(type="text" autocomplete="off" autofocus required placeholder="Name" name="name")
      input.form-input(type="text" autocomplete="off" autofocus required placeholder="Email" name="email")
      input.form-input(type="password" autocomplete="off" autofocus required placeholder="Passwort" name="password")
      input.form-input(type="password" autocomplete="off" autofocus required placeholder="Passwort wiederholen" name="password2")
      span.user-agrement-link
        span Mit der Registrierung erklärst du dich einverstanden mit unseren
        a(href="/auth/agreement/two")  Nutzungsbedingungen
        span  und unserer 
        a(href="/auth/agreement/one") Datenschutzerklärung
      button.form-send-button Registrieren
      .error-line
    .form-bottom-info
      span Schon registriert?
      a.bottom-link(href="/auth/login") Einloggen
