extends ./../partials/head
block content
  .--g_wrapper
    span.--g_header Please write your email and choose a password 
    form#register-form(method="post" action="/auth/register")
      input.--g_text_input#email-input(type="text" placeholder="Email" autofocus autocomplete="off" name="email")
      input.--g_text_input#password-input(type="password" placeholder="Password" autocomplete="off" name="password")
      button.--g_form_button Ok
    .--auth_g_error_wrapper#error-wrapper
      span.--auth_g_error_line#error-line-not-exist(style="display: none;") Please write your email and your password
      span.--auth_g_error_line#error-line-short-password(style="display: none;") Your password should be longer than 5 digits 
      - if (err && err == 100) {
        span.--auth_g_error_line#error-line-not-valid Sorry, your email is not valid
      - }
      - if (err && err == 200) {
        span.--auth_g_error_line#error-line-taken-email Sorry, this email is already taken
      - }
