extends ./../partials/head
block content
  .form-main-wrapper
    form.form-wrapper(action="/auth/register" method="post")
      .form-header
        span.form-header-title Registrieren
      input.form-input(type="text" autocomplete="off" autofocus required placeholder="Name" name="name")
      input.form-input#university-input(type="text" autocomplete="off" autofocus required placeholder="Universität" name="university")
      .input-value-wrapper
        .university-input-values
          span.input-value-each-span Albert-Ludwigs-Universität Freiburg
          span.input-value-each-span Bard College Berlin, A Liberal Arts University
          span.input-value-each-span Bauhaus-Universität Weimar
          span.input-value-each-span Bergische Universität Wuppertal
          span.input-value-each-span Brandenburgische Technische Universität Cottbus-Senftenberg
          span.input-value-each-span Bucerius Law School
          span.input-value-each-span Carl von Ossietzky Universität Oldenburg
          span.input-value-each-span Charité - Universitätsmedizin Berlin
          span.input-value-each-span Christian-Albrechts-Universität zu Kiel
          span.input-value-each-span Deutsche Sporthochschule Köln
          span.input-value-each-span Deutsche Universität für Verwaltungswissenschaften Speyer
          span.input-value-each-span Dresden International University
          span.input-value-each-span Eberhard Karls Universität Tübingen
          span.input-value-each-span EBS Universität für Wirtschaft und Recht
          span.input-value-each-span ESCP Europe Wirtschaftsschule
          span.input-value-each-span Europa-Universität Flensburg
          span.input-value-each-span Europa-Universität Viadrina Frankfurt (Oder)
          span.input-value-each-span European School of Management and Technology
          span.input-value-each-span FernUniversität in Hagen
          span.input-value-each-span Filmuniversität Babelsberg Konrad Wolf
          span.input-value-each-span Folkwang Universität der Künste
          span.input-value-each-span Frankfurt School of Finance & Management
          span.input-value-each-span Freie Hochschule Stuttgart – Seminar für Waldorfpädagogik
          span.input-value-each-span Freie Universität Berlin
          span.input-value-each-span Friedrich-Alexander-Universität Erlangen-Nürnberg
          span.input-value-each-span Friedrich-Schiller-Universität Jena
          span.input-value-each-span Georg-August-Universität Göttingen
          span.input-value-each-span HafenCity Universität Hamburg
          span.input-value-each-span Heinrich-Heine-Universität Düsseldorf
          span.input-value-each-span Helmut-Schmidt-Universität – Universität der Bundeswehr Hamburg
          span.input-value-each-span Hertie School of Governance
          span.input-value-each-span Hochschule für Philosophie München
          span.input-value-each-span Hochschule für Politik München – Bavarian School of Public Policy
          span.input-value-each-span Humboldt-Universität zu Berlin
          span.input-value-each-span International Psychoanalytic University Berlin
          span.input-value-each-span Jacobs University Bremen
          span.input-value-each-span Johann Wolfgang Goethe-Universität Frankfurt am Mai
          span.input-value-each-span Johannes-Gutenberg-Universität Mainz
          span.input-value-each-span Julius-Maximilians-Universität Würzburg
          span.input-value-each-span Justus-Liebig-Universität Gießen
          span.input-value-each-span Karlsruher Institut für Technologie
          span.input-value-each-span Katholische Universität Eichstätt-Ingolstadt
          span.input-value-each-span Kühne Logistics University - Wissenschaftliche Hochschule für Logistik und Unternehmensführung
          span.input-value-each-span Leibniz Universität Hannover
          span.input-value-each-span Leipzig Graduate School of Management
          span.input-value-each-span Leuphana Universität Lüneburg
          span.input-value-each-span Ludwig-Maximilians-Universität München (LMU)
          span.input-value-each-span Martin-Luther-Universität Halle-Wittenberg
          span.input-value-each-span Medizinische Hochschule Brandenburg Theodor Fontane
          span.input-value-each-span Medizinische Hochschule Hannover
          span.input-value-each-span MSH Medical School Hamburg
          span.input-value-each-span Otto von Guericke-Universität Magdeburg
          span.input-value-each-span Otto-Friedrich-Universität Bamberg
          span.input-value-each-span Pädagogische Hochschule Freiburg
          span.input-value-each-span Pädagogische Hochschule Heidelberg
          span.input-value-each-span Pädagogische Hochschule Karlsruhe
          span.input-value-each-span Pädagogische Hochschule Ludwigsburg
          span.input-value-each-span Pädagogische Hochschule Schwäbisch Gmünd
          span.input-value-each-span Pädagogische Hochschule Weingarten
          span.input-value-each-span Philipps-Universität Marburg
          span.input-value-each-span Psychologische Hochschule Berlin
          span.input-value-each-span Rheinisch-Westfälische Technische Hochschule Aachen
          span.input-value-each-span Rheinische Friedrich-Wilhelms-Universität Bonn
          span.input-value-each-span Ruhr-Universität Bochum
          span.input-value-each-span Ruprecht-Karls-Universität Heidelberg
          span.input-value-each-span Steinbeis-Hochschule Berlin
          span.input-value-each-span Stiftung Tierärztliche Hochschule Hannover
          span.input-value-each-span Stiftung Universität Hildesheim
          span.input-value-each-span Technische Universität Bergakademie Freiberg
          span.input-value-each-span Technische Universität Berlin
          span.input-value-each-span Technische Universität Carolo-Wilhelmina zu Braunschweig
          span.input-value-each-span Technische Universität Chemnitz
          span.input-value-each-span Technische Universität Clausthal
          span.input-value-each-span Technische Universität Darmstadt
          span.input-value-each-span Technische Universität Dortmund
          span.input-value-each-span Technische Universität Dresden
          span.input-value-each-span Technische Universität Hamburg
          span.input-value-each-span Technische Universität Ilmenau
          span.input-value-each-span Technische Universität Kaiserslautern
          span.input-value-each-span Technische Universität München (TUM)
          span.input-value-each-span Universität Augsburg
          span.input-value-each-span Universität Bayreuth
          span.input-value-each-span Universität Bremen
          span.input-value-each-span Universität der Bundeswehr München
          span.input-value-each-span Universität der Künste Berlin
          span.input-value-each-span Universität des Saarlandes
          span.input-value-each-span Universität Duisburg-Essen
          span.input-value-each-span Universität Erfurt
          span.input-value-each-span Universität Greifswald
          span.input-value-each-span Universität Hamburg
          span.input-value-each-span Universität Hohenheim
          span.input-value-each-span Universität Kassel
          span.input-value-each-span Universität Koblenz-Landau
          span.input-value-each-span Universität Konstanz
          span.input-value-each-span Universität Leipzig
          span.input-value-each-span Universität Mannheim
          span.input-value-each-span Universität Osnabrück
          span.input-value-each-span Universität Paderborn
          span.input-value-each-span Universität Passau
          span.input-value-each-span Universität Potsdam
          span.input-value-each-span Universität Regensburg
          span.input-value-each-span Universität Rostock
          span.input-value-each-span Universität Siegen
          span.input-value-each-span Universität Stuttgart
          span.input-value-each-span Universität Trier
          span.input-value-each-span Universität Ulm
          span.input-value-each-span Universität Vechta
          span.input-value-each-span Universität Witten/Herdecke
          span.input-value-each-span Universität zu Köln
          span.input-value-each-span Universität zu Lübeck
          span.input-value-each-span Westfälische Wilhelms-Universität Münster
          span.input-value-each-span WHU - Otto Beisheim School of Management
          span.input-value-each-span Zeppelin Universität
      input.form-input(type="text" autocomplete="off" autofocus required placeholder="Email" name="email")
      input.form-input#password-input-one(type="password" autocomplete="off" autofocus required placeholder="Passwort (min 6-stellig)" name="password")
      input.form-input#password-input-two(type="password" autocomplete="off" autofocus required placeholder="Passwort wiederholen" name="password2")
      .user-agrement-link
        span Mit der Registrierung erklärst du dich einverstanden mit unseren 
        a(href="/auth/agreement/two") Nutzungsbedingungen
        span  und unserer 
        a(href="/auth/agreement/one") Datenschutzerklärung
      button.form-send-button Registrieren
      .error-line
        if err && err == "already taken email"
          span.each-error-line Diese E-mail ist bereits registriert
        else if err && err == "not valid email"
          span.each-error-line Diese E-mail ist nicht verfügbar
        else 
          span.each-error-line
    .form-bottom-info
      span Schon registriert?
      a.bottom-link(href="/auth/login") Einloggen
