extends ../partials/adminHeader
block main
  span Hoş geldin admin!
  span Eğer herhangi bir işlem sırasında bu sayfaya yönlendirilirsen bu çoğu zaman işlemin bir hata verdiği ve gerçekleştirilemediği anlamına gelir. Böyle bir durumda lütfen yazılım ekibimizle iletişimi geç ;)
  //- a(href="/admin/updateVersion") Click to receive update
