extends ../partials/head
block content
  .form-main-wrapper
    a(href="/")
      img.login-logo(src="/res/images/logo.png")
    form.form-wrapper(action="/admin/login" method="post")
      .form-header
        span.form-header-title #{__('Admin Einloggen')}
      .form-line
        i.fas.fa-key
        input.form-input(type="password" autocomplete="off" autofocus required placeholder="Passwort" name="password")
      button.form-send-button #{__('Einloggen')}
