extends ./head
block content
  .admin-all-wrapper
    .admin-left-side-header
      span Sayfalar:
      .admin-each-header-button
        a(href="/admin/users") Kullanıcılar
      .admin-each-header-button
        a(href="/admin/schools") Okullar
    .admin-all-content
      block main
