extends ./head
block content
  .all-wrapper
    .all-header
      a.all-header-logo-wrapper(href="/")
        img.all-header-logo(src="/res/images/logo.png")
      form.search-bar-wrapper
        input.search-bar-input(type="text" placeholder="Was suchst du?" autocomplete="off" autofocus)
        button.search-bar-button
          span Suche
      a.header-messages-wrapper(href="/sell/new")
        img.messages-icon-image(src="/res/images/messagesIcon.png")
        .header-messages-explanation
          span Anzeige
          span aufgeben
      .header-login-wrapper
        if user
          .user-name-wrapper
            span.user-name-title Willkommen
            span.user-name= user.name.split(" ")[0]
          img.user-profile-icon(src=user.profilePhoto)
        else
          .login-link-wrapper
            a.login-link(href="/auth/login") Einloggen
            span oder
            a.register-link(href="/auth/register") Registrieren
          img.user-login-icon(src="/res/images/userIcon.png")
        .user-menu
          a.user-menu-each(href="/sell") Anzeigen
          a.user-menu-each(href="/sell/messages/dashboard") Nachrichten
          a.user-menu-each(href="/edit/user") Einstellungen
          a.user-menu-each-last(href="/auth/logout") Ausloggen
    .all-header-responsive
      .all-header-first-line
        a.all-header-logo-wrapper(href="/")
          img.all-header-logo(src="/res/images/logo.png")
        .header-login-wrapper
          if user
            .user-name-wrapper
              span.user-name-title Willkommen
              span.user-name= user.name.split(" ")[0]
            img.user-profile-icon(src=user.profilePhoto)
          else
            .login-link-wrapper
              a.login-link(href="/auth/login") Einloggen
              span oder
              a.register-link(href="/auth/register") Registrieren
            img.user-login-icon(src="/res/images/userIcon.png")
          .user-menu-responsive
            a.user-menu-each(href="/sell") Anzeigen
            a.user-menu-each(href="/sell/messages/dashboard") Nachrichten
            a.user-menu-each(href="/edit/user") Einstellungen
            a.user-menu-each-last(href="/auth/logout") Ausloggen
      .all-header-second-line
        a.header-messages-wrapper(href="/sell/new")
          img.messages-icon-image(src="/res/images/messagesIcon.png")
          .header-messages-explanation
            span Anzeige
            span aufgeben
        form.search-bar-wrapper.search-bar-responsive
          input.search-bar-input(type="text" placeholder="Was suchst du?" autocomplete="off" autofocus)
          button.search-bar-button
            span Suche
    .all-content
      .content-bar-wrapper-responsive
        .change-category-button
          span Kategorien
        .content-bar-responsive
          a.category-link-responsive(href="/buy/?page=0&category=all&limit=50") Alle Kategorien
          a.category-link-responsive(href="/buy/?page=0&category=rented&limit=50") Mitwohnung, Nachmiete
          a.category-link-responsive(href="/buy/?page=0&category=hobby&limit=50") Freizeit, Hobby
          a.category-link-responsive(href="/buy/?page=0&category=home&limit=50") Möbel, Haus 
          a.category-link-responsive(href="/buy/?page=0&category=fashion&limit=50") Mode, Kleidung
          a.category-link-responsive(href="/buy/?page=0&category=electronic&limit=50") Elektronik
          a.category-link-responsive(href="/buy/?page=0&category=fun&limit=50") Musik, Filme, Bücher
          a.category-link-responsive(href="/buy/?page=0&category=tickets&limit=50") Eintrittskarten, Tickets
          a.category-link-responsive(href="/buy/?page=0&category=exchange&limit=50") Zu Verschenken, Tauschen
          a.category-link-responsive(href="/buy/?page=0&category=lesson&limit=50") Unterricht, Kurse
          a.category-link-responsive(href="/buy/?page=0&category=other&limit=50") Sonstige
      .content-bar-wrapper
        .content-bar
          span.category-header Kategorien:
          a.category-link(href="/buy/?page=0&category=all&limit=50") Alle Kategorien
          a.category-link(href="/buy/?page=0&category=rented&limit=50") Mitwohnung, Nachmiete
          a.category-link(href="/buy/?page=0&category=hobby&limit=50") Freizeit, Hobby
          a.category-link(href="/buy/?page=0&category=home&limit=50") Möbel, Haus 
          a.category-link(href="/buy/?page=0&category=fashion&limit=50") Mode, Kleidung
          a.category-link(href="/buy/?page=0&category=electronic&limit=50") Elektronik
          a.category-link(href="/buy/?page=0&category=fun&limit=50") Musik, Filme, Bücher
          a.category-link(href="/buy/?page=0&category=tickets&limit=50") Eintrittskarten, Tickets
          a.category-link(href="/buy/?page=0&category=exchange&limit=50") Zu Verschenken, Tauschen
          a.category-link(href="/buy/?page=0&category=lesson&limit=50") Unterricht, Kurse
          a.category-link(href="/buy/?page=0&category=other&limit=50") Sonstige
      .main-wrapper
        block main
