extends ./head
block content
  .all-wrapper
    .all-header
      a.all-header-logo-wrapper(href="/")
        img.all-header-logo(src="/res/images/logo.png")
      form.search-bar-wrapper
        input.search-bar-input(type="text" placeholder="Was suchst du?" autocomplete="off" autofocus)
        button.search-bar-button
          span Suche
      a.header-messages-wrapper(href="/sell/new")
        img.messages-icon-image(src="/res/images/messagesIcon.png")
        .header-messages-explanation
          span Anzeige 
          span aufgeben
      .header-login-wrapper
        if user
          .user-name-wrapper
            span.user-name-title Willkommen
            span.user-name= user.name.split(" ")[0]
          img.user-profile-icon(src=user.profilePhoto)
        else
          .login-link-wrapper
            a.login-link(href="/auth/login") Einloggen
            span oder
            a.register-link(href="/auth/register") Registrieren
          img.user-login-icon(src="/res/images/userIcon.png")
        .user-menu
          a.user-menu-each(href="/sell") Anzeige
          a.user-menu-each(href="/sell/messages/dashboard") Nachrichten
          a.user-menu-each-last(href="/edit") Einstellungen
    .all-content
      .content-bar-wrapper
        .content-bar
          span.category-header Kategorien:
          a.category-link(href="/buy/?page=0&category=all&limit=50") Andre
          a.category-link(href="/buy/?page=0&category=rented&limit=50") Mietwonhung und Nachmiete
          a.category-link(href="/buy/?page=0&category=hobby&limit=50") Freizet, Hobby
          a.category-link(href="/buy/?page=0&category=home&limit=50") Möbel, Haus 
          a.category-link(href="/buy/?page=0&category=fashion&limit=50") Mode, Kleidung
          a.category-link(href="/buy/?page=0&category=electronic&limit=50") Elektronik
          a.category-link(href="/buy/?page=0&category=fun&limit=50") Music, Filme, Bücher
          a.category-link(href="/buy/?page=0&category=tickets&limit=50") Eintrittskarten, tickets
          a.category-link(href="/buy/?page=0&category=exchange&limit=50") Zu verschenken, tauschen
          a.category-link(href="/buy/?page=0&category=lesson&limit=50") Unterricht, Kurse
          a.category-link(href="/buy/?page=0&category=other&limit=50") Alle
      .main-wrapper
        block main
