.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 25px 0px;
}

/* Header design */
.product-header {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.header-title {
  font-size: 62px;
  color: rgb(112, 112, 112);
  font-weight: 300;
  margin-bottom: 10px;
}
.header-content {
  font-size: 28px;
  color: rgb(112, 112, 112);
  font-weight: 300;
  margin-bottom: 10px;
}

/* Products wrapper and content design */
.products-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  width: 90%;
  height: 50%;
  margin: 25px 0px;
}
.each-product {
  height: 40vh;
  padding: 2%;
  background: white;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(236, 235, 235);
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}
.each-product:hover {
  border: 2px solid rgb(220, 220, 220);
}
.product-image {
  max-height: 50%;
  max-width: 100%;
  border-radius: 15px;
}
.product-name {
  font-size: 30px;
  font-weight: 700;
  color: rgb(112, 112, 112);
  margin-top: 15px;
  width: 15vw;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.product-price {
  color: rgb(255, 61, 148);
  font-size: 36px;
  font-weight: 700;
}
.product-location {
  font-size: 19px;
  font-weight: 300;
  color: rgb(112, 112, 112);
  display: flex;
  align-items: center;
}
.product-location i {
  margin-right: 5px;
}
.not-read-message-icon {
  position: relative;
  width: 2vw;
  height: 2vw;
  border-radius: 100%;
  background: rgb(255, 61, 148);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  z-index: 2;
}
.not-read-empty {
  height: 1vw;
}
.no-product-warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
  position: absolute;
  font-size: 28px;
  color: rgb(112, 112, 112);
  font-weight: 300;
  margin-top: 25px;
}
.no-product-warning-button {
  position: absolute;
  margin-top: 50px;
  text-decoration: none;
  background: rgba(255, 108, 128, 0.3);
  border: 2px solid rgba(255, 61, 148, 0.34);
  color: rgb(255, 61, 148);
  font-size: 30px;
  font-weight: 700;
  outline: none;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 15px;
  width: 25%;
}
.no-product-warning-button:hover {
  border-color: rgba(255, 61, 148, 0.5);
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
  .each-product {
    height: 35vh;
  }
  .product-name {
    width: 27vw;
  }
  .products-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .not-read-message-icon {
    width: 5vw;
    height: 5vw;
    font-size: 22px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .each-product {
    height: 33vh;
  }
  .product-name {
    width: 40vw;
  }
  .products-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .not-read-message-icon {
    width: 7vw;
    height: 7vw;
    font-size: 30px;
  }
}
