.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 25px 0px;
}

/* Form wrapper and content design */
.new-product-form {
  width: 90%;
  background: white;
  border: 3px solid rgb(236, 235, 235);
  border-radius: 15px;
  padding: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}
.form-title {
  font-size: 62px;
  color: rgb(112, 112, 112);
  font-weight: 300;
  margin-bottom: 10px;
}
.form-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

/* Product name and description design */
.product-name {
  background: rgb(248, 248, 248);
  border: 3px solid rgb(236, 235, 235);
  border-radius: 15px;
  font-size: 30px;
  padding: 1% 2%;
  font-weight: 300;
  color: rgb(112, 112, 112);
  outline: none;
  margin-bottom: 25px;
}
.product-description {
  background: rgb(248, 248, 248);
  border: 3px solid rgb(236, 235, 235);
  border-radius: 15px;
  font-size: 30px;
  padding: 1% 2%;
  font-weight: 300;
  color: rgb(112, 112, 112);
  outline: none;
  margin-bottom: 25px;
  height: 30vh;
}

/* Price design */
.price-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  margin-bottom: 10px;
}
.each-price-line {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 300;
  color: rgb(112, 112, 112);
}
.price-input {
  background: rgb(248, 248, 248);
  border: 3px solid rgb(236, 235, 235);
  border-radius: 15px;
  font-size: 30px;
  padding: 1% 2%;
  font-weight: 300;
  color: rgb(112, 112, 112);
  outline: none;
}
.price-radio-input {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

/* Photo design */
.images-wrapper {
  height: 20vh;
  background: rgb(248, 248, 248);
  border: 3px solid rgb(236, 235, 235);
  display: flex;
  align-items: center;
  border-radius: 15px;
}
.add-new-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  height: 15vh;
  width: 15vh;
  background: rgba(255, 108, 128, 0.3);
  color: rgb(112, 112, 112);
  font-weight: 700;
  font-size: 40px;
  border-radius: 15px;
  cursor: pointer;
}
.each-product-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  height: 15vh;
  width: 15vh;
  font-weight: 700;
  font-size: 40px;
}
.each-product-photo img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 15px;
}

/* Address design */
.address-input {
  background: rgb(248, 248, 248);
  border: 3px solid rgb(236, 235, 235);
  border-radius: 15px;
  font-size: 30px;
  padding: 1% 2%;
  font-weight: 300;
  color: rgb(112, 112, 112);
  outline: none;
  margin-bottom: 25px;
}

/* Form buttons */
.form-send-button {
  background: rgba(255, 108, 128, 0.3);
  border: 3px solid rgba(255, 61, 148, 0.34);
  color: rgb(255, 61, 148);
  font-size: 30px;
  font-weight: 700;
  outline: none;
  padding: 10px 0px;
  width: 25%;
  cursor: pointer;
  border-radius: 15px;
  width: 50%;
}
.form-send-button:hover {
  border-color: rgba(255, 61, 148, 0.5);
}
.not-read-message-icon {
  position: relative;
  width: 2vw;
  height: 2vw;
  border-radius: 100%;
  background: rgb(255, 61, 148);
  transform: translate(-150%, -100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  z-index: 2;
}
.go-to-messages-button,
.delete-product-button,
.marked-as-sold-product-button {
  background: white;
  border: 3px solid rgba(255, 61, 148, 0.34);
  color: rgb(255, 61, 148);
  font-size: 30px;
  font-weight: 700;
  outline: none;
  padding: 10px 0px;
  width: 30%;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 15px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}
.go-to-messages-button:hover,
.delete-product-button:hover,
.marked-as-sold-product-button:hover {
  border-color: rgba(255, 61, 148, 0.5);
}
