.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 25px 0px;
  flex-wrap: nowrap;
}

/* Form wrapper and content design */
.new-product-form {
  width: 90%;
  min-height: fit-content;
  background: white;
  border: 2px solid rgb(236, 235, 235);
  border-radius: 15px;
  padding: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}
.form-title {
  font-size: 62px;
  color: rgb(112, 112, 112);
  font-weight: 300;
  margin-bottom: 10px;
}
.form-line {
  display: flex;
  align-items: center;
}

/* Category design */
.category-wrapper {
  padding-left: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}
.each-category {
  font-size: 30px;
  color: rgb(112, 112, 112);
  display: flex;
  align-items: center;
  margin: 3px 0px;
}
.each-category input {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

/* Product name and description design */
.product-name {
  background: rgb(248, 248, 248);
  border: 2px solid rgb(236, 235, 235);
  border-radius: 15px;
  font-size: 30px;
  padding: 1% 2%;
  font-weight: 300;
  color: rgb(112, 112, 112);
  outline: none;
  margin-bottom: 25px;
}
.product-description {
  background: rgb(248, 248, 248);
  border: 2px solid rgb(236, 235, 235);
  border-radius: 15px;
  font-size: 30px;
  padding: 1% 2%;
  font-weight: 300;
  color: rgb(112, 112, 112);
  outline: none;
  margin-bottom: 25px;
  height: 30vh;
  min-height: 0;
}

/* Price design */
.price-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  margin-bottom: 10px;
}
.each-price-line {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 300;
  color: rgb(112, 112, 112);
}
.price-input {
  background: rgb(248, 248, 248);
  border: 2px solid rgb(236, 235, 235);
  border-radius: 15px;
  font-size: 30px;
  padding: 1% 2%;
  font-weight: 300;
  color: rgb(112, 112, 112);
  outline: none;
}
.price-radio-input {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

/* Photo design */
.images-wrapper {
  height: 20vh;
  padding-right: 15px;
  background: rgb(248, 248, 248);
  border: 2px solid rgb(236, 235, 235);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  min-width: fit-content;
}
.images-outer-wrapper {
  height: 20vh;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.add-new-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  min-height: 15vh;
  min-width: 15vh;
  background: rgba(255, 108, 128, 0.3);
  color: rgb(112, 112, 112);
  font-weight: 700;
  font-size: 40px;
  border-radius: 15px;
  cursor: pointer;
}
.each-product-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  min-height: 15vh;
  min-width: 15vh;
  max-height: 15vh;
  max-width: 15vh;
  font-weight: 700;
  font-size: 40px;
}
.each-product-photo img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 15px;
}

/* Address design */
.address-input {
  background: rgb(248, 248, 248);
  border: 2px solid rgb(236, 235, 235);
  border-radius: 15px;
  font-size: 30px;
  padding: 1% 2%;
  font-weight: 300;
  color: rgb(112, 112, 112);
  outline: none;
  margin-bottom: 25px;
}
.address-input-small {
  flex: 1;
  margin-right: 5px;
}
.address-input-big {
  flex: 2;
  margin-left: 5px;
}

/* User agreement design */
.user-agrement-link {
  color: rgb(112, 112, 112);
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 25px;
}
.user-agrement-link a {
  color: rgb(255, 61, 148);
}

/* Form buttons */
.form-send-button {
  background: rgba(255, 108, 128, 0.3);
  border: 2px solid rgba(255, 61, 148, 0.34);
  color: rgb(255, 61, 148);
  font-size: 30px;
  font-weight: 700;
  outline: none;
  padding: 10px 0px;
  width: 25%;
  cursor: pointer;
  border-radius: 15px;
  width: 50%;
}
.form-send-button:hover {
  border-color: rgba(255, 61, 148, 0.5);
}

@media only screen and (orientation: portrait) {
  .new-product-form {
    padding: 25px;
  }
  .category-wrapper, .price-wrapper {
    padding-left: 15px;
  }
  .product-name, .product-description, .address-input {
    margin-bottom: 15px;
    padding: 2% 3%;
  }
}
