.admin-all-content {
  display: flex;
  flex-direction: column;
}

.all-content-header {
  flex: 1;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(236, 236, 236);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.title-wrapper {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 150%;
  color: rgb(112, 112, 112);
  font-weight: 700;
}
.subtitle {
  font-size: 100%;
  color: rgb(112, 112, 112);
  font-weight: 300;
}
.delete-product-button {
  padding: 10px 50px;
  background-color: rgb(248, 248, 248);
  border: 2px solid rgb(236, 236, 236);
  color: rgb(112, 112, 112);
  font-size: 125%;
  font-weight: 700;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}

.new-form-wrapper {
  flex: 7;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.new-form-wrapper {
  flex: 7;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  overflow: scroll;
}
.form-title {
  font-size: 125%;
  color: rgb(112, 112, 112);
  font-weight: 700;
  margin: 15px 0px;
}
.form-subtitle {
  font-size: 100%;
  color: rgb(112, 112, 112);
  font-weight: 500;
  margin-bottom: 10px;
}
.form-input {
  border: 2px solid rgb(236, 236, 236);
  box-shadow: 0px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: rgb(112, 112, 112);
  font-weight: 300;
  font-size: 100%;
}
.form-info {
  font-size: 100%;
  color: rgb(112, 112, 112);
  font-weight: 300;
  margin-bottom: 10px;
}
.form-button {
  align-self: flex-end;
  border: 2px solid rgb(236, 236, 236);
  background-color: rgb(248, 248, 248);
  padding: 15px 20px;
  border-radius: 15px;
  color: rgb(112, 112, 112);
  font-weight: 600;
  font-size: 125%;
  cursor: pointer;
  margin-bottom: 100px;
}

.select-input-outer-wrapper {
  z-index: 5;
  margin-bottom: 25px;
}
.select-input {
  background: rgb(255, 255, 255);
  border: 2px solid rgb(236, 235, 235);
  border-radius: 15px;
  font-size: 100%;
  padding: 10px;
  padding-left: 15px;
  font-weight: 300;
  outline: none;
  color: rgb(112, 112, 112);
  width: 200px;
}
.select-text-outer-wrapper {
  z-index: 5;
  height: 2px;
  width: 200px;
}
.select-text-wrapper {
  display: none;
  width: 200px;
  max-height: 150px;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid rgb(236, 235, 235);
  border-top: 0px;
  z-index: 5;
  overflow: scroll;
}
.each-text-select {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-shrink: initial;
  align-items: center;
  padding: 15px 0px;
  min-height: 50px;
  border-top: 2px solid rgb(236, 235, 235);
  cursor: pointer;
  font-weight: 600;
}
