/* General design*/
* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  font-family: "Source Sans Pro";
}
html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
	background: rgb(248, 248, 248);
	background-size: cover;
}
body {
  font-family: "Source Sans Pro";
  width: 100vw;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  bottom: 0px;
  min-height: 100%;
  overflow: hidden;
}
.all-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.display-none {
  display: none;
}

.all-header {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12.5vh;
  padding: 0% 5%;
  background: white;
  border-bottom: 2px solid rgb(236, 235, 235);
}
.all-header-left-side, .all-header-right-side {
  flex: 3;
  display: flex;
  align-items: center;
  height: 100%;
}
.all-header-right-side {
  justify-content: space-between;
  flex: 2;
}

.all-header-responsive {
  display: none;
  flex-direction: column;
  height: 23vh;
  padding: 0% 5%;
  background: white;
  border-bottom: 2px solid rgb(236, 235, 235);
}
.all-header-top, .all-header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
}
.responsive-category-open-button {
  width: 30%;
  height: 40%;
  border: 2px solid rgb(236, 235, 235);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  color: rgb(112, 112, 112);
  cursor: pointer;
}
.close-button-line {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  width: 95%;
}
.close-button-line i {
  color: rgb(112, 112, 112);
  font-size: 115%;
  cursor: pointer;
}

.all-header-logo-wrapper {
  height: 100%;
  padding: 1% 0%;
  display: flex;
  align-items: center;
}
.all-header-logo {
  max-height: 90%;
}
.not-read-message-icon-wrapper {
  height: 100%;
}
.not-read-message-icon-general {
  width: 1vw;
  height: 1vw;
  transform: translateX(-100%);
  background: rgb(255, 61, 148);
  border-radius: 100%;
}

.search-bar-wrapper {
  display: flex;
  flex: 1;
  height: 50%;
  align-items: center;
  justify-content: flex-end;
  margin-left: 4%;
}
.search-bar-input {
  outline: none;
  width: 90%;
  min-height: 100%;
  max-height: 100%;
  border-radius: 120px;
  padding: 2%;
  padding-left: 3%;
  padding-right: 10%;
  font-size: 100%;
  color: rgb(112, 112, 112);
  border-top: 0px;
  border: 2px solid rgb(236, 235, 235);
}
.search-bar-input:focus {
  border-color: rgb(220, 220, 220);
}
.search-bar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  min-height: 100%;
  max-height: 100%;
  margin-left: -10%;
  border-radius: 120px;
  border: 0px;
  z-index: 2;
  background: linear-gradient(45deg, rgb(255, 61, 148), rgb(255, 188, 97));
  color: white;
  font-size: 125%;
  font-weight: 700;
  cursor: pointer;
}
.header-messages-wrapper {
  display: flex;
  align-items: flex-end;
  height: 50%;
  cursor: pointer;
  text-decoration: none;
  margin-left: 8%;
}
.messages-icon-image {
  max-height: 100%;
  max-width: 30%;
}
.header-messages-explanation {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  color: rgb(112, 112, 112);
  font-size: 100%;
}
.header-messages-wrapper:hover {
  text-decoration: underline;
  text-decoration-color: rgb(112, 112, 112);
}

.header-login-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
}
.header-login-wrapper-responsive {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50%;
  width: 50%;
}
.user-name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  margin-right: 10px;
  cursor: pointer;
}
.user-profile-icon-wrapper {
  height: 6vh;
  width: 6vh;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.user-profile-icon {
  height: 100%;
}
.user-name-title {
  color: rgb(255, 61, 148);
  font-size: 125%;
  font-weight: 600;
}
.user-name {
  color: rgb(112, 112, 112);
  font-size: 125%;
  font-weight: 600;
}
.login-link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  margin-right: 10px;
}
.login-link-wrapper span {
  color: rgb(112, 112, 112);
  font-size: 100%;
}
.login-link-wrapper a:hover {
  text-decoration: underline;
}
.login-link {
  color: rgb(255, 61, 148);
  text-decoration: none;
  font-size: 125%;
  font-weight: 600;
}
.register-link {
  color: rgb(112, 112, 112);
  text-decoration: none;
  font-size: 100%;
  font-weight: 600;
}
.user-login-icon {
  max-height: 100%;
  max-width: 50%;
}

.user-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  background: white;
  width: 24vh;
  top: 8vh;
  padding-top: 2vh;
  right: 4vw;
  border: 2px solid rgb(236, 235, 235);
  border-top: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 10;
  background-color: transparent;
}
.user-menu-each {
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(236, 235, 235);
  font-size: 100%;
  text-decoration: none;
  color: rgb(112, 112, 112);
  font-weight: 700;
  background-color: white;
}
.user-menu-each-not-read {
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(236, 235, 235);
  font-size: 100%;
  text-decoration: none;
  color: rgb(255, 61, 148);
  font-weight: 700;
  background-color: white;
}
.user-menu-each-last {
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  text-decoration: none;
  color: rgb(112, 112, 112);
  font-weight: 700;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
}
.user-menu-each:hover,
.user-menu-each-not-read:hover, 
.user-menu-each-last:hover {
  background: rgb(248, 248, 248);
}

.all-content {
  flex: 7;
  padding: 0px;
  height: 87.5vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
}
.content-bar-wrapper {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  flex: 1;
  flex-wrap: nowrap;
  padding-left: 5%;
}
.content-bar {
  display: flex;
  flex-direction: column;
  padding: 25px 0px;
  min-height: fit-content;
}
.category-header {
  width: 95%;
  font-size: 125%;
  color: rgb(255, 61, 148);
  font-weight: 600;
  margin-bottom: 15px;
}
.category-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 95%;
  padding: 15px;
  background: white;
  color: rgb(112, 112, 112);
  text-decoration: none;
  font-size: 100%;
  border-radius: 30px;
  border: 2px solid rgb(236, 235, 235);
  margin-bottom: 15px;
}
.category-link:hover {
  border-color: rgb(226, 225, 225);
}
.main-wrapper {
  flex: 4;
  height: 100%;
}

.content-bar-wrapper-responsive {
  display: flex;
  flex-direction: column;
  height: 78vh;
  width: 75vw;
  background-color: white;
  padding-left: 3%;
  border-right: 2px solid rgb(236, 235, 235);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding-top: 5%;
  padding-bottom: 5%;
  position: absolute;
  transform: translateX(-100%);
}
.category-link-responsive {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 100%;
  color: rgb(112, 112, 112);
  font-weight: 500;
  border-radius: 30px;
  border: 2px solid rgb(236, 235, 235);
  margin-bottom: 15px;
  background-color: white;
  padding: 10px 15px;
  width: 95%;
}
.category-link-responsive:hover {
  background: rgb(248, 248, 248);
}

.open-from-left-animation-class {
  -webkit-animation: openFromLeft 0.8s ease-in-out 0s 1 forwards;
  animation: openFromLeft 0.8s ease-in-out 0s 1 forwards;
}
.close-to-left-animation-class {
  -webkit-animation: closeToLeft 0.8s ease-in-out 0s 1 forwards;
  animation: closeToLeft 0.8s ease-in-out 0s 1 forwards;
}

@keyframes openFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@-webkit-keyframes openFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes closeToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes closeToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}


@media only screen and (max-width: 1000px) and (min-width: 900px) {
  .search-bar-button {
    width: 30%;
  }
}

@media only screen and (max-width: 950px) and (min-width: 300px) {
  .all-header {
    display: none;
  }
  .all-header-responsive {
    display: flex;
  }
  .content-bar-wrapper {
    display: none;
  }
  .content-bar-wrapper-responsive {
    display: flex;
  }
  .search-bar-wrapper {
    width: 70%;
    flex: initial;
  }
  .main-wrapper {
    height: 95%;
  }
}

@media only screen  and (max-width: 700px) and (min-width: 300px) {
  .search-bar-wrapper {
    height: 45%;
  }
  .search-bar-button {
    width: 35%;
    margin-left: -17.5%;
    border-radius: 100px;
    font-size: 115%;
  }
  .search-bar-input {
    border-radius: 100px;
  }
  .all-header-logo {
    height: auto;
  }
  .all-header-logo-wrapper {
    width: 30%;
  }
}

