/* General design*/
* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  font-family: "Source Sans Pro";
}
html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
	background: rgb(248, 248, 248);
	background-size: cover;
}
body {
  font-family: "Source Sans Pro";
  width: 100vw;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  bottom: 0px;
  min-height: 100%;
  overflow: hidden;
}
.all-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.display-none {
  display: none;
}

/* All header design*/
.all-header {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12.5vh;
  padding: 0% 5%;
  background: white;
  border-bottom: 3px solid rgb(236, 235, 235);
}
.all-header-logo-wrapper {
  height: 100%;
  width: 20%;
  padding: 1% 0%;
}
.all-header-logo {
  max-height: 100%;
  max-width: 100%;
}

/* All header responsive design*/
.all-header-responsive {
  flex: 1.5;
  height: 25vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0% 5%;
  background: white;
  border-bottom: 3px solid rgb(236, 235, 235);
}
.all-header-first-line {
  flex: 1;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-header-second-line {
  flex: 1;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar-wrapper {
  display: flex;
  width: 50%;
  height: 50%;
  align-items: center;
  justify-content: flex-end;
}
.search-bar-input {
  outline: none;
  width: 90%;
  min-height: 100%;
  max-height: 100%;
  border-radius: 120px;
  padding: 2%;
  padding-right: 10%;
  font-size: 20px;
  color: rgb(193, 193, 193);
  border-top: 0px;
  border: 2px solid rgb(236, 235, 235);
}
.search-bar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  min-height: 100%;
  max-height: 100%;
  margin-left: -10%;
  border-radius: 120px;
  border: 0px;
  z-index: 2;
  background: linear-gradient(45deg, rgb(255, 61, 148), rgb(255, 188, 97));
  color: white;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}
.header-messages-wrapper {
  display: flex;
  align-items: flex-end;
  height: 50%;
  cursor: pointer;
  text-decoration: none;
}
.messages-icon-image {
  max-height: 100%;
  max-width: 30%;
}
.header-messages-explanation {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  color: rgb(112, 112, 112);
  font-size: 19px;
}

.header-login-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 50%;
  width: 20%;
}
.user-name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  margin-right: 10px;
  cursor: pointer;
}
.user-profile-icon {
  border-radius: 100%;
  max-height: 100%;
  max-width: 40%;
}
.user-name-title {
  color: rgb(255, 61, 148);
  font-size: 29px;
  font-weight: 600;
}
.user-name {
  color: rgb(112, 112, 112);
  font-size: 25px;
  font-weight: 600;
}
.login-link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  margin-right: 10px;
}
.login-link-wrapper span {
  color: rgb(112, 112, 112);
  font-size: 20px;
}
.login-link-wrapper a:hover {
  text-decoration: underline;
}
.login-link {
  color: rgb(255, 61, 148);
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
}
.register-link {
  color: rgb(112, 112, 112);
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}
.user-login-icon {
  max-height: 100%;
  max-width: 50%;
}

/* All header user menu design*/
.user-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  background: white;
  width: 24vh;
  top: 9.5vh;
  right: 4vw;
  border: 3px solid rgb(236, 235, 235);
  border-top: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 10;
}
.user-menu-responsive {
  display: none;
  flex-direction: column;
  position: absolute;
  background: white;
  width: 24vh;
  top: 9.5vh;
  right: 4vw;
  border: 3px solid rgb(236, 235, 235);
  border-top: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 10;
}
.user-menu-each {
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid rgb(236, 235, 235);
  font-size: 25px;
  text-decoration: none;
  color: rgb(112, 112, 112);
  font-weight: 700;
}
.user-menu-each-last {
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-decoration: none;
  color: rgb(112, 112, 112);
  font-weight: 700;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.user-menu-each:hover, 
.user-menu-each-last:hover {
  background: rgb(248, 248, 248);
}

/* All content and content bar design*/
.all-content {
  flex: 7;
  height: 87.5vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
}
.content-bar-wrapper {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  flex: 1;
  width: 10vw;
  flex-wrap: nowrap;
}
.content-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0px;
  min-height: fit-content;
}
.category-header {
  width: 75%;
  font-size: 30px;
  color: rgb(255, 61, 148);
  font-weight: 600;
  margin-bottom: 15px;
}
.category-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 75%;
  padding: 15px;
  background: white;
  color: rgb(112, 112, 112);
  text-decoration: none;
  font-size: 25px;
  border-radius: 30px;
  border: 2px solid rgb(236, 235, 235);
  margin-bottom: 15px;
}
.category-link:hover {
  border-width: 3px;
  padding: 14px;
}
.main-wrapper {
  flex: 4;
  width: 80vw;
  height: 100%;
}

.content-bar-wrapper-responsive {
  display: none;
  align-items: center;
  height: 7vh;
  padding-left: 25px;
  background: white;
  border-bottom: 3px solid rgb(236, 235, 235);
}
.change-category-button {
  width: 30vw;
  height: 5vh;
  border-radius: 15px;
  font-size: 33px;
  display: flex;
  align-items: center;
  padding-left: 25px;
  color: rgb(112, 112, 112);
  font-weight: 600;
  cursor: pointer;
}
.content-bar-responsive {
  position: absolute;
  background: white;
  display: none;
  flex-direction: column;
  height: 50vh;
  width: 50vw;
  border: 2px solid rgb(236, 235, 235);
  border-top: 0px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 3;
}
.category-link-responsive {
  min-height: 5vh;
  padding: 10px 0px;
  padding-left: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 29px;
  color: rgb(112, 112, 112);
  font-weight: 500;
}
.category-link-responsive:hover {
  background: rgb(248, 248, 248);
}

@media only screen and (max-width: 1100px) and (min-width: 300px) {
  .all-header {
    display: none;
  }
  .all-header-responsive {
    display: flex;
  }
  .search-bar-wrapper {
    width: 75%;
  }
  .search-bar-button {
    width: 25%;
  }
  .content-bar-wrapper {
    display: none;
  }
  .content-bar-wrapper-responsive {
    display: block;
  }
  .all-content {
    flex-direction: column;
    height: 75vh;
  }
  .main-wrapper {
    flex: initial;
    width: 100vw;
  }
  .search-bar-button {
    font-size: 25px;
  }
  .search-bar-input {
    padding: 3%;
  }
  .login-link-wrapper span {
    display: none;
  }
}
