.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 25px 0px;
}

/* Header design */
.product-header {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.root-info {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 100%;
  color: rgb(112, 112, 112);
  font-weight: 600;
}
.change-page-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 150%;
  color: rgb(112, 112, 112);
}
.fa-angle-left a {
  color: rgb(112, 112, 112);
  text-decoration: none;
}
.each-page-link {
  margin: 0px 2.5px;
  color: rgb(255, 61, 148);
  text-decoration: none;
}
.each-page-link:hover {
  text-decoration: underline;
}
.change-page-wrapper i {
  font-size: 100%;
  margin: 0px 5px;
  cursor: not-allowed;
  color: rgb(112, 112, 112);
}

/* Products wrapper and content design */
.products-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  width: 90%;
  height: 50%;
  margin: 25px 0px;
}
.each-product {
  height: 40vh;
  padding: 2%;
  background: white;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(236, 235, 235);
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}
.each-product:hover {
  border: 2px solid rgb(220, 220, 220);
}
.each-product-image-wrapper {
  height: 20vh;
  width: 15vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background: rgb(245, 245, 245);
  border-radius: 15px;
}
.each-product-image-inner-wrapper {
  width: 100%;
}
.product-image {
  width: 100%;
  min-height: 100%;
}
.product-name {
  font-size: 100%;
  font-weight: 700;
  color: rgb(112, 112, 112);
  margin-top: 15px;
  width: 15vw;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.product-price {
  color: rgb(255, 61, 148);
  font-size: 175%;
  font-weight: 700;
  margin-top: auto;
  margin-left: auto;
}
.product-location {
  font-size: 100%;
  font-weight: 300;
  color: rgb(112, 112, 112);
  display: flex;
  align-items: center;
}
.product-location i {
  margin-right: 5px;
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
  .each-product {
    height: 35vh;
  }
  .product-name {
    width: 27vw;
  }
  .latest-product-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .each-product-image-wrapper {
    width: 27vw;
  }
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .each-product {
    height: 40vh;
  }
  .each-product-image-wrapper {
    width: 40vw;
  }
  .product-name {
    width: 40vw;
  }
  .latest-product-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
