.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 15px 5%;
  flex-wrap: nowrap;
}
.content-all-wrapper {
  display: flex;
  flex-direction: column;
}

.main-product-wrapper {
  display: flex;
  background: white;
  border: 2px solid rgb(236, 235, 235);
  border-radius: 15px;
  padding: 25px;
  height: auto;
}

.product-left-side {
  flex: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-image-wrapper {
  width: 90%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-product-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}
.product-images-menu {
  height: 15%;
  width: 90%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.product-menu-image {
  width: 19%;
  height: 100%;
  margin-right: 1.2%;
  border: 2px solid rgb(236, 235, 235);
  cursor: pointer;
  border-radius: 5px;
}
.selected-menu-image {
  border: 2px solid blue;
}

.product-right-side {
  flex: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.main-product-created-at {
  margin-bottom: 10px;
  color: rgb(112, 112, 112);
  font-size: 100%;
  font-weight: 300; 
}
.main-product-title {
  margin-bottom: 5px;
  color: rgb(112, 112, 112);
  font-size: 150%;
  font-weight: 700; 
}
.main-product-location {
  font-size: 100%;
  font-weight: 300;
  color: rgb(112, 112, 112);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.main-product-location i {
  margin-right: 5px;
}
.main-product-description {
  font-size: 100%;
  color: rgb(112, 112, 112);
  margin-bottom: 20px;
}
.main-product-price {
  color: rgb(255, 61, 148);
  font-size: 200%;
  font-weight: 700;
  margin-top: auto;
  margin-left: auto;
}

.send-message-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  border: 2px solid rgb(236, 235, 235);
  border-radius: 15px;
  padding: 25px;
  margin-top: 25px;
  min-height: 50vh;
}
.send-message-title {
  color: rgb(112, 112, 112);
  font-size: 250%;
  font-weight: 300;
  margin-bottom: 10px;
}
.message-input {
  height: 30vh; 
  width: 100%;
  font-size: 125%;
  font-weight: 300;
  background: rgb(248, 248, 248);
  border: 2px solid rgb(236, 235, 235);
  border-radius: 15px;
  color: rgb(112, 112, 112);
  padding: 15px;
  outline: none;
}
.send-message-button {
  margin-top: 25px;
  margin-left: 100%;
  transform: translateX(-100%);
  background: rgba(255, 108, 128, 0.3);
  border: 2px solid rgba(255, 61, 148, 0.34);
  color: rgb(255, 61, 148);
  font-size: 125%;
  font-weight: 700;
  outline: none;
  padding: 15px 5px;
  width: 25%;
  cursor: pointer;
  border-radius: 15px;
}
.send-message-button:hover {
  border-color: rgba(255, 61, 148, 0.5);
}

.other-products-title {
  color: rgb(112, 112, 112);
  font-size: 250%;
  font-weight: 300;
  margin-bottom: 10px;
  align-self: flex-start;
  margin-top: 25px;
}
.other-products-wrapper {
  min-height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  margin-bottom: 25px;
  margin-top: 10px;
  margin-bottom: 100px;
}
.each-product-outer-wrapper {
  width: 94%;
  display: flex;
  justify-content: center;
  margin-bottom: 6%;
}
.each-product {
  height: 325px;
  padding: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(236, 235, 235);
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}
.each-product:hover {
  border: 2px solid rgb(220, 220, 220);
}
.each-product-image-wrapper {
  height: 20vh;
  width: 15vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background: rgb(245, 245, 245);
  border-radius: 15px;
}
.each-product-image-inner-wrapper {
  width: 100%;
}
.product-image {
  width: 100%;
  min-height: 100%;
}
.product-name {
  font-size: 100%;
  font-weight: 700;
  color: rgb(112, 112, 112);
  margin-top: 15px;
  width: 15vw;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.product-price {
  color: rgb(255, 61, 148);
  font-size: 175%;
  font-weight: 700;
  margin-top: auto;
  margin-left: auto;
}
.product-location {
  font-size: 100%;
  font-weight: 300;
  color: rgb(112, 112, 112);
  display: flex;
  align-items: center;
}
.product-location i {
  margin-right: 5px;
}

@media only screen and (max-width: 700px) and (min-width: 300px) {
  .main-product-wrapper {
    flex-direction: column;
    min-height: 80vh;
  }
  .product-left-side, .product-right-side {
    width: 100%;
    flex: initial;
  }
  .send-message-button {
    width: 50%;
  }
  .product-right-side {
    padding: 0px;
    margin-top: 10px;
  }
  .product-image-wrapper, .product-images-menu {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
  .each-product {
    height: 325px;
  }
  .product-name {
    width: 27vw;
  }
  .other-products-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .each-product-image-wrapper {
    width: 27vw;
  }
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .each-product {
    height: 300px;
    padding: 5px;
  }
  .each-product-image-wrapper {
    width: 40vw;
  }
  .product-name {
    width: 40vw;
  }
  .other-products-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
  .main-product-title {
    font-size: 125%;
  }
  .main-product-description, .main-product-location, .main-product-created-at {
    font-size: 90%;
  }
  .main-product-price {
    font-size: 200%;
  }
  .other-products-title, .send-message-title {
    font-size: 200%;
  }
  .send-message-button {
    font-size: 100%;
  }
}
