extends ./../partials/head
block content
  .--g_wrapper
    span.--g_header Hello, please login or register before move on
    a.--g_link_button(href="/auth/register") Register
    a.--g_link_button(href="/auth/login") Login
