extends ./../partials/header
block main
  .general-info-wrapper
    if user
      span Hallo, #{user.name}
    else
      span Merke dein Produkt, schick deine Nachricht und einfach kauf!
  span.latest-product-title Actuelle Angebote
  .latest-product-wrapper
    each product in products
      a.each-product(href="/buy/details/?id=" + product._id)
        img.product-image(src=product.productPhotoArray[0].source)
        span.product-name #{product.name}
        .product-location
          i.fas.fa-map-marker-alt
          span Location
        span.product-price #{product.price}
