extends ./../partials/header
block main
  .messages-wrapper
    span.messages-header Users who send a message for this product (#{product.name})
    each message in messages
      a.each-user(href="/messages/sell/?id=" + product._id + "&user=" + message[0].buyerId)
        if (message.filter((message) => { return !message.read }).length > 0) 
          .not-read-empty
            .not-read-message-icon
              span= message.filter((message) => { return !message.read }).length
        else 
          .not-read-empty
        img.each-user-profile(src=message[0].buyerProfile)
        span.each-user-name= message[0].buyerName
    if Object.keys(messages) && Object.keys(messages).length == 0
      .no-product-warning
        span There is no user who send a message to this product
