.main-wrapper {
  display: flex;
  padding: 0px;
}

.messages-left-side {
  display: flex;
  flex-direction: column;
  background: rgb(252, 249, 247);
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgb(219, 219, 219);
  border-left: 1px solid rgb(219, 219, 219);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.reopen-right-side-button {
  position: absolute;
  right: 0px;
  margin-top: 10px;
  padding: 10px;
  padding-right: 20px;
  background: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgb(219, 219, 219);
}
.reopen-right-side-button i {
  font-size: 150%;
  color: rgb(112, 112, 112);
}

.messages-content {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-bottom: 50px;
}
.each-message {
  width: 90%;
  display: flex;
  margin-bottom: 50px;
}
.each-message-user {
  width: 90%;
  display: flex;
  margin-bottom: 50px;
  align-self: flex-end;
  text-align: right;
}
.message-left-side {
  flex: 9;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.message-left-side-user {
  flex: 9;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}
.message-header {
  margin-bottom: 15px;
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.message-header-user {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 15px;
}
.message-time {
  font-size: 100%;
  font-weight: 700;
  color: rgb(219, 219, 219);
  margin: 0px 10px;
}
.message-sender {
  display: flex;
  align-items: flex-end;
  font-size: 150%;
  font-weight: 700;
  color: rgb(127, 127, 127);
}
.message-content {
  font-size: 125%;
  font-weight: 300;
  color: rgb(160, 169, 177);
}
.message-right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.message-sender-profile {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
}
/* Send message design */
.message-send-wrapper {
  height: 10%;
  width: 77%;
  border-top: 1px solid rgb(193, 193, 193);
  display: flex;
  align-items: center;
  background: white;
  position: fixed;
  bottom: 0px;
}
.new-message-input {
  border: none;
  height: 95%;
  flex: 9;
  outline: none;
  font-size: 125%;
  padding-left: 25px;
  color: rgb(112, 112, 112);
}
.send-button {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  border: 0px;
  outline: none;
}
.send-button img {
  max-height: 80%;
  max-width: 80%;
}

.messages-right-side {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  height: 100%;
  right: 0;
  border: 1px solid rgb(219, 219, 219);
  border-top: 0px;
  background: white;
  padding-top: 5px;
  padding-bottom: 100px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.right-side-title {
  font-size: 150%;
  color: rgb(112, 112, 112);
  font-weight: 300;
  margin-bottom: 25px;
  border-bottom: 2px solid rgb(112, 112, 112);
  line-height: 60px;
}
.close-right-side-line {
  width: 95%;
  font-size: 21px;
  color: rgb(112, 112, 112);
  margin-bottom: 25px;
}
.close-right-side-line i {
  cursor: pointer;
}
.owner-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.owner-profile {
  border: 1px solid rgb(219, 219, 219);
  width: 100%;
  border-radius: 100%;
}
.owner-name {
  margin-top: 15px;
  color: rgb(127, 127, 127);
  font-weight: 700;
  font-size: 100%;
  margin-bottom: 25px;
}
.product-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-image-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-product-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}
.product-images-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 25px;
}
.product-menu-image {
  width: 19%;
  height: 100%;
  border: 2px solid rgb(236, 235, 235);
  cursor: pointer;
  border-radius: 5px;
}
.selected-menu-image {
  border: 2px solid blue;
}
.main-product-created-at {
  margin-bottom: 10px;
  color: rgb(112, 112, 112);
  font-size: 100%;
  font-weight: 300; 
}
.main-product-title {
  margin-bottom: 5px;
  color: rgb(112, 112, 112);
  font-size: 100%;
  font-weight: 700; 
}
.main-product-location {
  font-size: 100%;
  font-weight: 300;
  color: rgb(112, 112, 112);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.main-product-location i {
  margin-right: 5px;
}
.main-product-description {
  font-size: 100%;
  color: rgb(112, 112, 112);
  margin-bottom: 20px;
}
.main-product-price {
  color: rgb(255, 61, 148);
  font-size: 125%;
  font-weight: 700;
  margin-bottom: 100px;
}

/* 
.animation-class-close-to-right {
  -webkit-animation: moveRight 1.3s 1 forwards ease-out;
}

@-webkit-keyframes moveRight {
  from {
    display: flex;
  }
  to {
    transform: translateX(100%);
    display: none;
  }
} 
*/
@media only screen and (orientation: portrait) {
  .each-message {
    width: 95%;
  }
  .message-send-wrapper {
    width: 100%;
  }
  .messages-right-side {
    width: 90%;
  }
}
