.main-wrapper {
  display: flex;
  padding: 0px;
}

.messages-left-side {
  display: flex;
  flex-direction: column;
  background: rgb(252, 249, 247);
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgb(219, 219, 219);
  border-left: 1px solid rgb(219, 219, 219);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.messages-content {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-bottom: 50px;
}
.each-message {
  width: 90%;
  display: flex;
  margin-bottom: 50px;
}
.buyer {
  align-self: flex-end;
  text-align: right;
}
.message-left-side {
  flex: 9;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.message-left-side-buyer {
  flex: 9;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}
.message-header {
  margin-bottom: 15px;
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.message-header-buyer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 15px;
}
.message-time {
  font-size: 100%;
  font-weight: 700;
  color: rgb(219, 219, 219);
  margin: 0px 10px;
}
.message-sender {
  display: flex;
  align-items: flex-end;
  font-size: 150%;
  font-weight: 700;
  color: rgb(127, 127, 127);
}
.message-content {
  font-size: 125%;
  font-weight: 300;
  color: rgb(160, 169, 177);
}
.message-right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.message-sender-profile {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
}

.message-send-wrapper {
  height: 10%;
  width: 77%;
  border-top: 1px solid rgb(193, 193, 193);
  display: flex;
  align-items: center;
  background: white;
  position: fixed;
  bottom: 0px;
}
.new-message-input {
  border: none;
  height: 95%;
  flex: 9;
  outline: none;
  font-size: 125%;
  padding-left: 25px;
  color: rgb(112, 112, 112);
}
.send-button {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  border: 0px;
  outline: none;
}
.send-button img {
  max-height: 80%;
  max-width: 80%;
}

/* 
.animation-class-close-to-right {
  -webkit-animation: moveRight 1.3s 1 forwards ease-out;
}

@-webkit-keyframes moveRight {
  from {
    display: flex;
  }
  to {
    transform: translateX(100%);
    display: none;
  }
} 
*/
@media only screen and (orientation: portrait) {
  .each-message {
    width: 95%;
  }
  .message-send-wrapper {
    width: 100%;
  }
  .messages-right-side {
    width: 90%;
  }
}
