extends ./../partials/header
block main
  .--s_header
    span Send a message to buyer #{buyer.email} for your product: #{product.name}
  .--s_content
    .--s_messages_wrapper
      each message in messages
        div(class= (message.sender !== "owner") ? "--s_each_message_owner" : "--s_each_message_buyer")
          span= message.content
    form.--s_messages_send_wrapper(method="post" action="/sell/messages/details/?id=" + product._id + "&user=" + buyer._id)
      .--s_send_line
        span to: #{user.email}
        .--s_send_button
          span Send
          i.fas.fa-paper-plane
      textarea.--s_messages_send(name="message" cols="30" rows="10" placeholder="Type a message" autofocus autocomplete="off" spellchech="false") 
