extends ./../../partials/head
block content
  .wrapper
    span.main-title Gizlilik Politikası
    br
    br
    span Stumarkt (bundan sonra “stumarkt”, “bizim” veya “biz” olarak adlandırılacaktır) gizliliğinize saygı duyar ve Hizmetlerimizi kullanırken bize sağlamış olduğunuz kişisel bilgileri korumayı taahhüt eder. Bu Gizlilik Politikası hangi verileri topladığımızı, neden topladığımızı ve bununla ne yaptığımızı anlamanıza yardımcı olacaktır. Lütfen dikkatlice okumak için zaman ayırın.
    br
    span Eğer bu Politika ile ilgili herhangi bir sorunuz, şikayetiniz veya yorumunuz varsa lütfen bizimle admin@stumarkt.com adresinden veya aşağıdaki iletişim adresinden temasa geçin:
    br
    span Adres:
    span Ünalan/İstanbul
    br
    span.title 1. Veri tabanının mülkiyeti
    br
    span Web Sitesi veya Uygulama aracılığı ile bize sağlamış olduğunuz tüm kişisel bilgilerin stumarkt’a ait olan bir veri tabanında işlendiğini bildirmek isteriz. Hizmet, Stumarkttarafından verilmektedir.
    br
    span.title 2. Bu politika kapsamındaki Web Sitesi, Uygulama ve Hizmetler
    br
    span 2.1. Şu anda www.stumarkt.com ("Web Sitesi") sitesini ve Uygulamayı, birlikte söyleyecek olursak (“Hizmetleri”) işletmekteyiz. Zaman zaman yukarıda listelenmeyen yeni Hizmetler ekleyebiliriz; fakat bunlar bu Politikaya ilgili maddelerce düzenlenecek biçimde bağlantılanacaktır.
    br
    span 2.2. Bu gizlilik politikası; stumarkt kullanımınızı ve aynı zamanda stumarkt’ın işlediği içeriğinizin, kişisel bilgilerinizin ve Hizmete eriştiğinizde stumarkt’ın topladığı diğer verilerin kullanımını kapsamaktadır..
    br
    span.title 3. Sizden hangi kişisel bilgileri topluyoruz
    br
    span 3.1. Siz, bu Politikada bahsedilen yöntemlerden herhangi biriyle bize kişisel bilgi sağlamadığınız müddetçe, herhangi bir kişisel bilgi toplamamaktayız. Bu bilgiyi bize doğrudan Hizmetlerimiz aracılığı ile sağlayabilirsiniz. Eğer bize kişisel bilgilerinizi (örn: isim, e-posta adresi, posta adresi, fotoğraf) sağlamaya karar verdiyseniz, biz sadece taleplerinizi ve meşru iş hedeflerimizi yerine getirmek için gerekli olan bilgileri toplarız. Eğer talep edildiğinde kişisel bilgilerinizi açıklamayı reddederseniz, Hizmetlerin bir bölümü gibi belirli alanlara (ürün satın alma ve satma gibi) erişemeyebilirsiniz.
    br
    span 3.2. Uygulama aracılığı ile stumarkt’ın konumunuzu kaydetmek ve yayınlamak ve ürünlerinizi size yakın olan kullanıcılara sunmak için mobil cihazınız üzerinden coğrafik konumunuzu almasına izin veriyorsunuz. Buna ek olarak stumarkt’ın kimliğinizi doğrulaması için telefon numaranızı ve cihazınızın IMEI ve seri numarasını toplamasına izin veriyorsunuz. Ayrıca, yüklenmiş fotoğraf veya diğer tüm bilgilerin (isim ve konum da dahil olmak üzere), stumarkt tarafından, ücretsiz olarak, sosyal medya, Facebook reklamları, bültenler ve herhangi bir medya aracı için olan reklamları içeren reklam amaçlı tüm potansiyel kullanımına izin veriyorsunuz. Bu bilgilerin kaydedilmesi ve yayınlanması kullanıcı tarafından istenilen zamanda mobil cihazı üzerinden gizlilik ayarları kısmından iptal edilebilir fakat bu stumarkt tarafından sunulan Uygulamanın ve Hizmetlerin bir KULLANICISI olma olanağını etkileyebilir.
    br
    span 3.3. Eğer uygulamamızı indirdiysen, cihazından telefon modeli, işletim sistemi, sürüm, yazılım, dosya isimleri ve sürümleri, tercih edilen dil, cihaz kimliği (UDI), reklam kimliği, seri numarası, cihaz hareket bilgisi ve operatör bilgisi gibi bilgileri toplayabiliriz.
    br
    span.title 4. Üyelik ve Kayıt
    br
    span 4.1. Uygulamayı kullanmak için e-posta adresinizi veya okul bilginizi belirterek kayıt yapmanız gereklidir.
    span 4.2. Sizden profil resmi, isim ve soy isim, e-posta adresi gibi bilgileri Uygulama ve internet üzerinde erişilebilir olması amacıyla isteyeceğiz. Misafir olarak Hizmetlerin belirli alanlarını ziyaret edebilir ve anonim olarak kalabilirsiniz; fakat kayıt olmadan tüm içerik ve özelliklere erişim sağlayamayabilirsiniz.
    span 4.3 Bize sağlamış olduğunuz bilgilerin doğru ve güncel olduğunu, sizin kimliğinize karşılık geldiğini ve bunu yayınlamaya hakkınızın olduğunu garanti etmiş oluyorsunuz. Uygulamadaki formlarda talep edilen tüm verilerden isteğe bağlı olarak gözükmeyenler, stumarkt ile etkin bir ilişki yürütmek amacıyla zorunludur.
    br
    span 5. Halkla İlişkiler
    br
    span 5.1. Tüm kişisel verilerinizin, resimlerin, kayıtların ve yer rezervasyonlarının ve stumarkt’ın gerçekleştirmiş olduğu hesabınızdaki bilgilerin yayınlanabileceğini ve diğer kullanıcıların erişebileceğini açıkça kabul ediyorsunuz.
    br
    span 5.2. Ürünlerinizi yayınlamak gibi bazı Hizmetlere katıldığınızda kullanıcı adınız ve fotoğrafınızın genel halka açık internette erişilebilir olacağını lütfen unutmayın, dolayısıyla Hizmetleri kullanırken dikkatli olmalısınız. Sizin tarafınızdan ifşa edilen kişisel bilgiler, bu tür Hizmetlerin diğer kullanıcıları tarafından toplanabilir ve istenmeyen mesajlara yol açabilir. Hizmetlerimiz aracılığı ile üçüncü taraflara ifşa etmiş olduğunuz bilgileri korumak, bizim sorumluluğumuzda değildir (örn: telefon numaranızı Hizmetler aracılığıyla başka kullanıcıya göndermek). Hizmetlerimizde diğer kullanıcıların erişimine uygun bir profil kullandığınız için, bunun içeriğiyle ve doğruluğuyla alakalı yegane sorumlu daima sizsiniz. Bu tür bilgileri düzenlemek, değiştirmek veya silmek için Hizmetlerimizde sağlanmış olan talimatları izleyin.
    br
    span.title 6. E-posta Haber Bülteni
    br
    span Gizlilik politikamızı kabul ederek ve kayıt anında katılım rızası göstererek, stumarkt’a, sizinle iletişime geçmesi ve/veya elektronik iletişim de dahil olmak üzere her türlü ticari iletişimi göndermesi, stumarkt’ın takdirine göre ilginizi çekebilecek ürünlerimizin, hizmetlerimizin, tekliflerimizin veya şirketle ilgili herhangi bir ticari içeriğin gönderilmesi konusunda açık rıza gösteriyorsunuz. Eğer ticari iletişim içerikleri almak istemiyorsanız, bu türdeki her iletişim içeriğinde sağlanmış olan abonelikten ayrılma talimatlarını takip ederek herhangi herhangi bir zamanda ayrılabilirsiniz. Üçüncü taraf sosyal ağlar da dahil herhangi bir aracı tarafından gönderilen ticari iletişimlerden ayrılmak için, herhangi bir zamanda web sitesi/uygulamaya giriş yaparak ve ilgili kutucukların işaretini kaldırıp hesabınızdaki kullanıcı tercihlerini düzenleyerek abonelikten ayrılabilirsiniz. Ticari iletişim içeriklerini almaktan ayrılsanız dahi, stumarkt’tan işlem onayları, hesap faaliyetlerinizle ilgili bildirimler (örn: hesap onayları, şifre değişiklikleri, vb.) ve diğer önemli duyurular gibi yönetim mesajları alabilirsiniz.
    br
    span.title 7. Hangi kişisel olmayan bilgileri sizden topluyoruz
    br
    span 7.1. Bir çok durumda stumarkt Hizmetleri kullanımınıza dair otomatik olarak kişisel olmayan bilgileri toplamaktadır. stumarkt, diğer şeylerin yanında kullandığınız işletim sistemi, İnternet servis sağlayıcınızın alan adı ve Siteler veya Uygulama aracılığıyla yaptığınız “tıklama izi” gibi bilgileri toplayabilir.
    br
    span 7.2. Bunu yapmak için stumarkt çerezler ve diğer teknolojileri kullanabilir. Daha fazla bilgi için bu bağlantıdaki Çerez politikasına bakın. Hizmetlerimize yaptığınız ziyaretler ve bu teknolojilere sağlanan bilgiler, bize kişisel bilgilerinizi sağlayana veya geçmişte sağlamış olana kadar anonim kalacaktır. Örneğin Hizmetlerimiz ile bir hesap açtıysanız hesap bilginiz satın aldığınız ögeler ile bağlantılanabilir (yani satın alma geçmişiniz).
    br
    span.title 8. Çerezler ve ilgili teknoloji hakkında bilgi
    br
    span 8.1. stumarkt Hizmetleri “çerezler” içerebilir. Kullanıcılarımızın oturumlarını yönetmek ve tercihlerini, takip bilgilerini ve dil seçimlerini saklamak için çerezler kullanabiliriz. Çerezler bize kayıt olsanız da, olmasanız da kullanılabilir. “Çerezler” bir web sunucusu tarafından sabit diskinize taşınan ve ardından bilgisayarınızda saklanan ufak metin dosyalarıdır. Bir çerezin topladığı bilgi türleri; ziyaret tarih ve saatiniz, gezinme geçmişiniz, tercihleriniz ve kullanıcı adınızı içermektedir. Bazı durumlarda üçüncü taraf servis sağlayıcılarımız Web Sitesi üzerinde çerezler kullanabilir. Üçüncü taraf hizmet sağlayıcılarının çerezlerini kontrol edemeyiz veya erişemeyiz. Bu Gizlilik Politikası sadece bizim kullandığımız Çerezleri kapsamakta, hiçbir üçüncü taraf hizmet sağlayıcısının çerezini kapsamamaktadır. Bu çerezlerin bilgisayarınızda kullanımını kabul etme veya reddetme imkanına sahipsiniz. Bunu bize kayıt olurken veya çerez kullanımı ile ilgili web sitesi açılır penceresinde tamam’ı tıklayarak gerçekleştirebilirsiniz. Genel anlamda tarayıcınızı, çerezleri kabul etmemesi şeklinde ayarlayabilirsiniz. Fakat çerez kullanımını reddetmek Web Sitesinin belirli özelliklerinin kullanımını sınırlandırabilir. Örneğin giriş yapmada zorluklar veya stumarkt Forum ve Yorumlar özelliği gibi Web Sitesinin bazı etkileşimli özelliklerinin kullanımında zorluklar yaşanabilir.
    br
    span.title 9. Bize sağlamış olduğunuz bilgilere nasıl erişecek, silecek veya değiştireceksiniz
    br
    span 9.1. İstediğiniz zaman stumarkt’ın yukarıda belirtilen adresine veya burada belirtilen e-posta adresine yazılı bir talep göndererek Kişisel bilgilerinize erişim, düzeltme, silme ve bilgilerin işlenme amaçlarına itiraz talebinde bulunabilirsiniz: admin@stumarkt.com.
    br
    span 9.2. Talebinizi tam olarak yerine getirebilmemiz için lütfen kişisel verilerinizi (isim, soy isim, posta adresi, telefon, e-posta adresi ve kimliğinizi doğrulamak için diğer sözleşme bilgileri ve sizinle iletişime geçmek için gerekli olan bilgiler) ve Kimlik kartınızın bir kopyası veya fotoğraflı bir kimliğinizin kopyası. Sizinle olan tüm iletişimimiz en yüksek ihtiyat ve gizlilik seviyesinde gerçekleştirilmektedir.
    br
    span.title 10. Topladığımız bilgileri güvence altında tutma taahhüdümüz
    br
    span Güvenliği ve gizliliği veya kişisel verilerinizi garanti altına almak için gerekli gördüğümüz son teknoloji güvenlik tedbirlerini kullanmamıza rağmen hiçbir web sitesi veya İnternet iletişimi tamamen güvenli değildir. Bu nedenle stumarkt; yetkilendirilmemiş erişim, şifre kırma, veri kaybı veya diğer ihlallerin asla gerçekleşmeyeceğini garanti etmez. Uygulama ve Hizmetleri kullanmanın riski size aittir. stumarkt, kişisel bilgilerinizi güvence altında tutmak için parolanızı ezberlemeniz veya güvenli bir yerde saklamanız için sizi uyarmaktadır.
    br
    span.title 11. KİŞİSEL BİLGİLERİNİZİN TRANSFERİ
    br
    span Kişisel Verilerinizin depolanması ve ayrıca işlenmesi, bunların ikamet ettiğiniz ülke dışında bir yere aktarılmasını ve/veya bu yerde depolanmasını gerektirebilir. Bu Gizlilik Politikasını kabul ederek kişisel bilgilerinizin bu türdeki transferini, depolanmasını ve/veya işlenmesini kabul ediyorsunuz.
    br
    span.title 12. Politikadaki değişikliklere dair bildiri
    br
    span stumarkt, bu Politikayı istediği zaman kayıtlı kullanıcılarına e-posta ile bildirimde bulunarak veya yeni Politikayı uygulamaya sokarak ve yeni Politikayı Hizmetlerinde yayınlayarak değiştirme hakkını kendinde saklı tutar. Politika üzerinde yapılan tüm değişiklikler, yayınlandığı anda yürürlüğe girer ve değişiklik yayınlandıktan sonra herhangi bir stumarkt Hizmetinin kullanımına devam etmeniz, bu değişikleri kabul ettiğiniz ve bağlı olduğunuzu onayladığınız anlamına gelir.
    br
    br
    a.back-button(href="/auth/register") Geri
    br
    br
    br
    br
    br
    br
