extends ./../../partials/head
block content
  .wrapper
    span.main-title Allgemeine Nutzungsbedingungen für 
      a(href="/") Stumarkt.com
    br
    br
    span „Stumarkt“ eine deutschsprachige Website sowie weitere Dienste, lokale und mobile Anwendungen, Services und Tools .
    span Diese Allgemeinen Nutzungsbedingungen (im Folgenden „Nutzungsbedingungen“) enthalten die grundlegenden Regeln für die Nutzung der Stumarkt-Dienste. Von diesen Bedingungen abweichende Geschäftsbedingungen des Nutzers finden keine Anwendung, wenn sie von Stumarkt nicht schriftlich bestätigt worden sind.
    span Die Nutzungsbedingungen und die Stumarkt-Dienste werden ausschließlich in deutscher Sprache zur Verfügung gestellt.
    span Wenn Sie die Stumarkt-Dienste als Verbraucher nutzen und Verträge über kostenpflichtige Leistungen mit Stumarkt abschließen, haben Sie ein gesetzliches Widerrufsrecht, über das  Stumarkt wie folgt belehrt:
    br
    br
    span.title Widerrufsbelehrung
    br
    span.title Widerrufsrecht
    br
    span Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen.
    span Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag des Vertragsabschlusses.
    span Um Ihr Widerrufsrecht auszuüben, müssen Sie uns ( E-Mail: yagci6199@gmail.com) mittels einer eindeutigen Erklärung (z.B.  E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie können dafür das beigefügte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist.
    span Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.
    br
    span.title Widerrufsfolgen
    br
    span Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstigste Standardlieferung gewählt haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet.
    span Haben Sie verlangt, dass die Dienstleistungen während der Widerrufsfrist beginnen sollen, so haben Sie uns einen angemessenen Betrag zu zahlen, der dem Anteil der bis zu dem Zeitpunkt, zu dem Sie uns von der Ausübung des Widerrufsrechts hinsichtlich dieses Vertrags unterrichten, bereits erbrachten Dienstleistungen im Vergleich zum Gesamtumfang der im Vertrag vorgesehenen Dienstleistungen entspricht.
    br
    span.title Besondere Hinweise
    br
    span Ihr Widerrufsrecht erlischt vorzeitig, wenn wir die geschuldete Dienstleistung vollständig erbracht haben und mit der Ausführung der Dienstleistung erst begonnen haben, nachdem Sie dazu Ihre ausdrückliche Zustimmung gegeben haben und gleichzeitig Ihre Kenntnis davon bestätigt haben, dass Sie Ihr Widerrufsrecht bei vollständiger Vertragserfüllung durch uns verlieren.
    br
    br
    span.title Muster-Widerrufsformular
    br
    span (Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte dieses Formular aus und senden Sie es zurück.)
    ul()
      li E-Mail: yagci6199@gmail.com:
      li  Hiermit widerrufe(n) ich/wir () den von mir/uns () abgeschlossenen Vertrag über den Kauf der folgenden Waren ()/ die Erbringung der folgenden Dienstleistung ()
      li  Bestellt am ()/erhalten am ()
      li  Name des/der Verbraucher(s)
      li  Anschrift des/der Verbraucher(s)
      li  Unterschrift des/der Verbraucher(s) (nur bei Mitteilung auf Papier)
      li  Datum
    br
    span (*) Unzutreffendes streichen.
    br
    br
    span.title § 1 Leistungsbeschreibung und Bewerbung der Anzeigen
    br
    ul
      li  Stumarkt Kleinanzeigen stellt mit den Stumarkt Kleinanzeigen-Diensten einen Online-Service zur Verfügung, über den der Nutzer als Inserent aus Texten und Bildern bestehende Angebote und Gesuche (im Folgenden „Anzeigen“) erstellen und veröffentlichen sowie als Interessent veröffentlichte Anzeigen anderer Nutzer einsehen kann. Darüber hinaus ermöglichen die Stumarkt-Dienste auch den Austausch elektronischer Nachrichten zwischen Inserenten und Interessenten. Soweit dies zur Konvertierung in für die Stumarkt-Dienste taugliche Dateiformate erforderlich ist, wird Stumarkt die Anzeigen des Nutzers in Formate für die Nutzung in mobilen Anwendungen und Webseiten konvertieren.
      li  Die Stumarkt-Dienste dienen dem Veröffentlichen von Anzeigen und dem Zusammenführen von Anbietern und Interessenten der eingestellten Waren und Dienstleistungen. Stumarkt ist selbst nicht Anbieter der jeweils mit den Anzeigen beworbenen Produkte.
      li  Auf der Übersichtsseite eines Nutzers zeigt Stumarkt zusätzliche Angaben zum Nutzer und dessen Aktivitäten in den Stumarkt-Diensten an (dies können z.B. Angaben zur Antwortrate und/oder durchschnittlichen Antwortzeit auf Anfragen zu veröffentlichten Anzeigen sein).
      li  Stumarkt veröffentlicht und bewirbt die Stumarkt-Dienste und die von den Nutzern eingestellten Anzeigen selbst und durch Dritte, zum Beispiel durch Einbindung der Anzeigen oder Ausschnitten davon auf Webseiten, innerhalb von Software-Applikationen, in E-Mails, in Print-, Funk- und Fernsehmarketingkampagnen oder in anderen Medien. Stumarkt ermöglicht auch Dritten, ihre Angebote und Dienstleistungen über die Stumarkt-Dienste zu bewerben. Stumarkt kann zur Unterstützung dieser Aktivitäten auch Dritten Zugang zu den über die Stumarkt-Dienste veröffentlichten Daten, Informationen und Inhalten zur Verfügung stellen. Der Nutzer gestattet Stumarkt die vorgenannte Verwendung seiner Anzeigen zum Zwecke der Bewerbung und Steigerung der Reichweite der Stumarkt-Dienste. Das gilt auch für Übersetzungen zum Zwecke der Einbindung der übersetzten Anzeigen in fremdsprachige Angebote.
    br
    span.title § 2 Registrierung, Nutzerkonto
    br
    ul
      li  Für die vollständige Nutzung der Stumarkt-Dienste, insbesondere für das Einstellen von Anzeigen, das Anzeigen bestimmter Kontaktdaten von Inserenten und den Austausch elektronischer Nachrichten mit anderen Nutzern, ist eine Registrierung des Nutzers bei Stumarkt erforderlich. Voraussetzung für eine Registrierung ist, dass es sich bei dem Nutzer um eine natürliche Person, juristische Person oder Personengesellschaft handelt. Ist der Nutzer minderjährig, darf er sich nur mit Zustimmung der Erziehungsberechtigten bei Stumarkt Kleinanzeigen registrieren. Stumarkt behält sich in diesem Fall vor, die Erbringung von Leistungen von der Vorlage eines Nachweises der Zustimmung der Erziehungsberechtigten abhängig zu machen.
      li  Der Nutzer ist verpflichtet, die bei der Registrierung von Stumarkt erhobenen Daten wahrheitsgemäß und vollständig anzugeben. Bei einer Änderung der Daten nach erfolgter Registrierung ist der Nutzer verpflichtet, die Daten unverzüglich im passwortgeschützten Nutzerbereich der Stumarkt-Dienste selbst zu aktualisieren.
      li  Mit dem Absenden des Registrierungsformulars gibt der Nutzer ein Angebot auf den Abschluss einer Nutzungsvereinbarung mit Stumarkt Kleinanzeigen ab. Akzeptiert Stumarkt die Registrierung, erhält der Nutzer eine Bestätigungs-E-Mail mit einem personalisierten Link. Mit Zugang der Bestätigungs-E-Mail kommt zwischen Stumarkt und dem Nutzer ein Vertrag über die Nutzung der Stumarkt-Dienste (im Folgenden „Nutzungsvertrag“) zustande. Um die Registrierung abzuschließen, muss der Nutzer den mit der Bestätigungs-E-Mail mitgeteilten Link aufrufen und so seine E-Mail-Adresse verifizieren. Ein Anspruch auf Abschluss eines Nutzungsvertrages besteht nicht.
      li  Mit erfolgreicher Registrierung wird für den Nutzer ein Nutzerkonto angelegt, auf das er mit Hilfe seiner E-Mail-Adresse und seines bei der Registrierung gewählten Passwortes zugreifen kann. Das Passwort kann vom Nutzer jederzeit über den passwortgeschützten Nutzerbereich geändert werden. Es ist vom Nutzer geheim zu halten und vor dem Zugriff durch unbefugte Dritte geschützt aufzubewahren. Stellt der Nutzer fest oder hegt er den Verdacht, dass seine Zugangsdaten von einem Dritten unbefugt genutzt werden, hat er dies Stumarkt unverzüglich mitzuteilen und sein Passwort unverzüglich zu ändern.
      li  Jeder Nutzer darf sich für die private Nutzung und für eine gewerbliche bzw. freiberufliche Nutzung der Stumarkt-Dienste jeweils nur einmal bei den Stumarkt-Diensten registrieren. Nutzerkonten sind nicht übertragbar.
      li  Stumarkt kann die Nutzung bestimmter Funktionen der Stumarkt-Dienste oder den Umfang, in dem einzelne Funktionen genutzt werden können, von der Erfüllung zusätzlicher Voraussetzungen, z. B. der Angabe zusätzlicher Daten, einer Prüfung und Verifizierung der Daten des Nutzers, der Nutzungsdauer, der Art der Nutzung (privat/gewerblich), dem bisherigen Zahlungsverhalten des Nutzers und/oder der Vorlage bestimmter Nachweise abhängig machen.
    br
    span.title § 3 Abschluss von Anzeigen- und Service-Paketverträgen
    br
    ul
      li  Hat sich der Nutzer erfolgreich bei Stumarkt registriert, hat er die Möglichkeit, über die Stumarkt-Dienste kostenlos eigene Anzeigen zu erstellen und in den Stumarkt-Diensten zu veröffentlichen. Stumarkt behält sich vor, Anzeigen in bestimmten Kategorien nur gegen Zahlung eines Entgeltes zu veröffentlichen. Unabhängig davon behält sich Stumarkt vor, die Anzahl von einem Nutzer innerhalb eines bestimmten Zeitraumes kostenlos veröffentlichter Anzeigen zu beschränken und die Veröffentlichung zusätzlicher Anzeigen nur gegen Zahlung eines Entgeltes anzubieten. Der Nutzer hat die Möglichkeit, bei Aufgabe einer Anzeige bestimmte kostenpflichtige Zusatzleistungen auszuwählen und zu buchen bzw. solche kostenpflichtigen Zusatzleistungen ggf. auch nach Veröffentlichung einer Anzeige hinzuzubuchen. Stumarkt kann für bestimmte Nutzergruppen und/oder in bestimmten Kategorien Service-Pakete mit besonderen Leistungen oder Konditionen anbieten.
      li  Mit Eingabe der Anzeige-Daten, ggf. Auswahl kostenpflichtiger Zusatzleistungen oder der Auswahl des gewünschten Service-Pakets und dem Absenden des entsprechenden Formulars gibt der Nutzer gegenüber Stumarkt ein verbindliches Angebot zum Abschluss eines Vertrages über die zeitlich begrenzte Veröffentlichung der Anzeige (im Folgenden „Anzeigenvertrag“) oder eines Service-Pakets (im Folgenden „Service-Paketvertrag“) in den Stumarkt Diensten ab. Der Vorgang lässt sich vor dem Absenden des Formulars jederzeit durch Schließen des Browser-Fensters bzw. der Applikation abbrechen. Der Nutzer hat außerdem die Möglichkeit, vor dem Absenden des Formulars den Inhalt der entworfenen Anzeige mit Hilfe einer Vorschau-Funktion zu überprüfen und seine Angaben ggf. zu korrigieren.
      li  Stumarkt kann das Angebot zum Abschluss eines Anzeigenvertrages durch eine gesonderte Erklärung gegenüber dem Nutzer oder durch Freischaltung der Anzeige annehmen. Mit Annahme des Angebotes durch Stumarkt kommt der Anzeigenvertrag bzw. der Service-Paketvertrag zustande.Stumarkt ist nicht zur Annahme von Vertragsangeboten des Nutzers verpflichtet.
      li  Die Anzeigendaten werden jeweils elektronisch gespeichert. Der Nutzer kann seine Anzeigen im passwortgeschützten Nutzerbereich der Stumarkt-Dienste verwalten, insbesondere dort auch löschen. Der Text des Anzeigenvertrages bzw. des Service-Paketvertrages wird nicht gesondert gespeichert. Die Nutzungsbedingungen, die dem Anzeigenvertrag bzw. dem Service-Paketvertrag zugrunde liegen, kann der Nutzer jedoch jederzeit über die Website von Stumarkt abrufen und anschließend in wiedergabefähiger Form speichern.
      li  Auch nach dem Zustandekommen eines Anzeigenvertrages ist es aus technischen Gründen möglich, dass die Anzeige nicht unmittelbar nach dem Freischalten über die Kategoriensuche oder mit Hilfe von Suchbegriffen innerhalb der Stumarkt-Dienste aufgefunden werden kann.
      li  Im Falle eines Rechnungsversandes erfolgt diese ausschließlich auf elektronischem Weg.
      li  Es ist dem Nutzer nicht gestattet, Dritten die erworbenen Leistungen ohne Zustimmung durch Stumarkt anzubieten oder zu überlassen, insbesondere anderen Nutzern Leistungen aus einem Service-Paket zur Nutzung zu überlassen.
    br
    span.title § 4 Inhaltliche Anforderungen an eingestellte Anzeigen
    br
    ul
      li  Der Nutzer ist verpflichtet, jede Anzeige in die jeweils passende Kategorie einzustellen und sein jeweiliges Angebot wahrheitsgemäß und unter Angabe aller relevanten Merkmale und Eigenschaften mit Worten und möglichst auch durch aussagekräftige Bilder zu beschreiben.
      li  Der Nutzer ist ferner verpflichtet, bei der Aufgabe einer Anzeige anzugeben, ob er die Anzeige privat oder in Ausübung einer gewerblichen oder selbständigen beruflichen Tätigkeit veröffentlicht.
      li  Das Einstellen von Anzeigen, Texten, Bildern oder sonstigen Inhalten, die gegen gesetzliche Bestimmungen, diese Nutzungsbedingungen, Rechte Dritter oder gegen die guten Sitten verstoßen, ist untersagt. Insbesondere ist es verboten, Inhalte einzustellen, 
        span -die gegen urheber-, marken- und wettbewerbsrechtliche Vorschriften oder gegen gesetzliche Bestimmungen zum Jugendschutz verstoßen, 
        span  -die gegen die Grundsätze von Stumarkt bezüglich verbotener Inhalte verstoßen, oder 
        span -die unwahre Angaben enthalten oder die sonst irreführend sind.
      li  Nutzer, die die Stumarkt-Dienste als gewerbliche Anbieter oder sonst geschäftsmäßig nutzen, unterliegen besonderen gesetzlichen Regelungen. Sie sind u. a. dazu verpflichtet, die gesetzlichen Informationspflichten zu erfüllen und dazu insbesondere eine vollständige, den gesetzlichen Anforderungen genügende Anbieterkennzeichnung anzugeben. Weitergehende Informationen hierzu finden sich auf der Website zu Stumarkt. Stumarkt Kleinanzeigen übernimmt keine Gewähr für die Richtigkeit und Vollständigkeit der dort zusammengefassten Angaben.
    br
    span.title § 5 Besondere Pflichten des Nutzers
    br
    ul
      li  Der Nutzer ist verpflichtet, alle Handlungen zu unterlassen, die den sicheren Betrieb der Stumarkt-Dienste gefährden oder andere Nutzer belästigen könnten oder die sonst über eine bestimmungsgemäße Nutzung der Stumarkt-Dienste hinausgehen. Er ist insbesondere verpflichtet, es zu unterlassen, 
      li  -E-Mail-Werbung, SMS-Werbung, Kettenbriefe oder andere belästigende Inhalte zu versenden, 
      li  -Viren oder andere Technologien zu versenden, die die Stumarkt-Dienste oder die Interessen bzw. das Eigentum anderer Nutzer schädigen könnten, 
      li  -die Infrastruktur der Stumarkt-Dienste einer übermäßigen Belastung auszusetzen oder auf andere Weise das Funktionieren der Stumarkt Kleinanzeigen-Dienste zu stören oder zu gefährden, 
      li  -Inhalte von Stumarkt ohne vorherige Einwilligung von Stumarkt zu vervielfältigen, öffentlich zugänglich zu machen, zu verbreiten, zu bearbeiten oder sonst in einer Art und Weise zu nutzen, die über die bestimmungsgemäße Nutzung der Stumarkt-Dienste hinausgeht. 
      li  -die Anzeigen oder sonstigen Inhalte Dritter ohne deren vorherige Einwilligung zu vervielfältigen, öffentlich zugänglich zu machen, zu verbreiten, zu bearbeiten oder sonst in einer Art und Weise zu nutzen, die über die bestimmungsgemäße Nutzung der Stumarkt-Dienste hinausgeht. 
      li  -ohne die ausdrückliche schriftliche Zustimmung von Stumarkt Crawler, Spider, Scraper oder andere automatisierte Mechanismen zu nutzen, um auf die Stumarkt Kleinanzeigen-Dienste zuzugreifen und Inhalte zu sammeln, 
      li  -Informationen, insbesondere E-Mail-Adressen oder Rufnummern, über andere Nutzer ohne die vorherige Einwilligung der Nutzer zu sammeln, 
      li  -Maßnahmen zu umgehen, die dazu dienen, den Zugriff auf die Stumarkt-Dienste zu verhindern oder einzuschränken.
      li  Der Nutzer ist verpflichtet, alle innerhalb der Stumarkt-Dienste gespeicherten Daten und Informationen, die er zu Zwecken der Beweissicherung, Buchführung oder zu anderen Zwecken aktuell oder künftig benötigt oder benötigen könnte, auf einem eigenen Speichermedium zu sichern und zu archivieren.
    br
    span.title § 6 Löschen von Anzeigen, Sperrung von Nutzern, sonstige Maßnahmen
    br
    ul
      li  Stumarkt ist berechtigt, in die Stumarkt-Dienste eingestellte Anzeigen oder sonstige Inhalte des Nutzers ganz oder teilweise zu löschen oder die Veröffentlichung von Anzeigen oder sonstigen Inhalten des Nutzers zu verzögern oder nicht vorzunehmen, wenn konkrete Anhaltspunkte dafür vorliegen, dass die Anzeige oder der Inhalt gegen diese Nutzungsbedingungen oder gegen gesetzlichen Vorgaben verstößt, oder dass der Nutzer sonst schuldhaft vertragliche Pflichten verletzt hat. Stumarkt kann den Nutzer in einem solchen Fall außerdem verwarnen und/oder vorläufig oder dauerhaft von der Nutzung der Stumarkt-Dienste ausschließen.
      li  Stumarkt behält sich außerdem vor, Anzeigen nicht zu veröffentlichen bzw. aus den Stumarkt zu entfernen, bei denen Anhaltspunkte dafür bestehen, dass das inserierte Produkt nicht frei verkäuflich ist oder sonst in rechtswidriger Weise angeboten wird, oder wenn Anhaltspunkte dafür vorliegen, dass die Anzeige zu missbräuchlichen Zwecken geschaltet werden soll oder wurde. Stumarkt behält sich außerdem vor, bestimmte Produkte von einer Inserierung auszuschließen und entsprechende Anzeigen zu entfernen, wenn diese Produkte typischerweise zu missbräuchlichen Zwecken inseriert werden.
      li  Wurde ein Nutzer durch Stumarkt von der Nutzung der Stumarkt-Dienste ausgeschlossen oder wurde der Nutzungsvertrag mit dem Nutzer beendet, darf der Nutzer die Stumarkt-Dienste auch mit anderen Nutzerkonten, einschließlich solcher Nutzerkonten, die für Dritte angelegt wurden, nicht mehr nutzen und sich nicht erneut für eine Registrierung bei den Stumarkt-Diensten anmelden.
      li  Stumarkt ist berechtigt, die Zurverfügungstellung der Stumarkt-Dienste ganz oder teilweise einzuschränken oder zu beenden sowie die Veröffentlichung von Anzeigen oder sonstigen Inhalten von Nutzern zu verzögern, wenn dies im Hinblick auf Kapazitätsbeschränkungen, die Sicherheit oder Integrität der Server oder zur Durchführung technischer Maßnahmen erforderlich ist, oder dies der ordnungsgemäßen oder verbesserten Erbringung der Leistungen dient (Wartungsarbeiten).
    br
    span.title § 7 Gebühren
    br
    ul
      li  Für bestimmte, im Zusammenhang mit den Stumarkt-Diensten erbrachte Leistungen und die Nutzung bestimmter Funktionen der Stumarkt Kleinanzeigen-Dienste erhebt Stumarkt Gebühren. Stumarkt wird den Nutzer vor jeder Buchung einer kostenpflichtigen Leistung ausdrücklich auf die Kostenpflichtigkeit sowie auf die Höhe der anfallenden Kosten hinweisen.
      li  Von Stumarkt für die Erbringung eigener Leistungen innerhalb der Stumarkt-Dienste genannte Preise verstehen sich jeweils in Euro inkl. der gesetzlichen Umsatzsteuer.
      li  Vereinbarte Entgelte sind jeweils sofort zur Zahlung fällig und können über die von Stumarkt akzeptierten Zahlungsmittel beglichen werden. Sofern Stumarkt als Zahlungsmittel den Bankeinzug mittels SEPA-Lastschrift anbietet und akzeptiert, erfolgt die Ankündigung des Lastschrifteinzugs („Pre-Notification“) mit einer Frist von mindestens fünf Werktagen; die Frist für die SEPA-Pre-Notification wird dementsprechend auf fünf Tage verkürzt. Schlägt der Forderungseinzug trotz rechtzeitiger Ankündigung fehl und hat der Nutzer das Fehlschlagen zu vertreten, hat er Stumarkt die hierdurch entstandenen Mehrkosten zu erstatten.
    br
    span.title § 8 Haftung von Stumarkt Kleinanzeigen
    br
    ul
      li  Die in den Stumarkt-Diensten veröffentlichten Anzeigen und sonstigen Inhalte von Nutzern geben nicht die Meinung von Stumarkt wieder und werden von Stumarkt Kleinanzeigen nicht auf ihre Rechtmäßigkeit, Richtigkeit und Vollständigkeit überprüft. Stumarkt übernimmt keine Gewähr für die Richtigkeit und Vollständigkeit der in den Anzeigen enthaltenen Angaben und auch keine Gewähr für die Qualität, Sicherheit oder Rechtmäßigkeit der von Nutzern angebotenen Waren oder Dienstleistungen.
      li  Stumarkt haftet nach den gesetzlichen Vorschriften für Vorsatz und grobe Fahrlässigkeit von Stumarkt, ihren gesetzlichen Vertretern, leitenden Angestellten oder sonstigen Erfüllungsgehilfen. Gleiches gilt bei der Übernahme von Garantien oder einer sonstigen Übernahme einer verschuldensunabhängigen Haftung sowie bei Ansprüchen nach dem Produkthaftungsgesetz oder bei einer schuldhaften Verletzung des Lebens, des Körpers oder der Gesundheit. Stumarkt haftet zudem dem Grunde nach für durch Stumarkt, ihre Vertreter, leitende Angestellten und sonstige Erfüllungsgehilfen verursachte einfach fahrlässige Verletzungen wesentlicher Vertragspflichten, also solcher Pflichten, auf deren Erfüllung der Nutzer zur ordnungsgemäßen Durchführung des Vertrages regelmäßig vertraut und vertrauen darf, in diesem Fall aber der Höhe nach begrenzt auf den typischerweise entstehenden, vorhersehbaren Schaden. Eine weitergehende Haftung von Stumarkt ist ausgeschlossen.
      li  Soweit die Haftung von Stumarkt ausgeschlossen oder beschränkt ist, gilt dies auch zugunsten der persönlichen Haftung ihrer gesetzlichen Vertreter, leitenden Angestellten und sonstigen Erfüllungsgehilfen.
    br
    span.title § 9 Haftung des Nutzers
    br
    ul
      li  Der Nutzer stellt Stumarkt von sämtlichen Ansprüchen frei, die andere Nutzer oder sonstige Dritte wegen einer Verletzung ihrer Rechte durch von dem Nutzer in die Stumarkt-Dienste eingestellten Anzeigen und sonstigen Inhalten oder wegen dessen sonstiger Nutzung der Stumarkt-Dienste gegenüber Stumarkt Kleinanzeigen geltend machen. Der Nutzer übernimmt hierbei die Kosten der notwendigen Rechtsverteidigung von Stumarkt einschließlich sämtlicher Gerichts- und Anwaltskosten in gesetzlicher Höhe. Der Anspruch auf Freistellung besteht nicht, wenn der Nutzer die Rechtsverletzung nicht zu vertreten hat.
      li  Der Nutzer ist verpflichtet, Stumarkt im Falle einer Inanspruchnahme durch Dritte auf Anforderung unverzüglich wahrheitsgemäß und vollständig alle Informationen zur Verteidigung zur Verfügung zu stellen, die für die Prüfung der Ansprüche und eine Verteidigung dagegen erforderlich sind.
      li  Eine über diese Regelungen hinausgehende Haftung des Nutzers bleibt unberührt.
    br
    span.title § 10 Beendigung des Nutzungsvertrages
    br
    ul
      li  Der Nutzer kann den Nutzungsvertrag, soweit nicht anders vereinbart, z.B. im Rahmen eines Service-Pakets, jederzeit ohne Einhaltung einer Kündigungsfrist in Textform kündigen. Dazu genügt die Übersendung einer Kündigungserklärung per E-Mail an den Kundenservice von Stumarkt (yagci6199@gmail.com) . Im Falle einer Kündigung während einer laufenden kostenpflichtigen Zusatzleistung besteht kein Anspruch auf (anteilige) Rückzahlung.
      li  Stumarkt kann den Nutzungsvertrag jederzeit mit einer Frist von 14 Tagen zum Ende eines Kalendermonats kündigen. Ist zwischen dem Nutzer und Stumarkt eine Vereinbarung über eine kostenpflichtige, mit einer bestimmten Laufzeit verbundenen Zusatzleistung zustande gekommen, und endet die vereinbarte Laufzeit erst nach dem in Satz 1 bestimmten Zeitpunkt, ist eine Kündigung durchStumarkt nur mit einer Frist von 14 Tagen zum Ende der vereinbarten Laufzeit der Zusatzleistung möglich. Der Nutzer darf ab Zugang einer durch Stumarkt erklärten Kündigung keine neuen Leistungen von Stumarkt mehr buchen. Das Recht von Stumarkt zur Löschung einzelner Anzeigen, zur Sperrung von Nutzern und zur Durchführung sonstiger Maßnahmen nach § 6 sowie das Recht zur fristlosen Kündigung aus wichtigem Grund bleiben unberührt.
      li  Mit Beendigung des Nutzungsvertrages werden alle laufenden Anzeigen des Nutzers aus den Stumarkt-Diensten entfernt und das Nutzerkonto des Nutzers deaktiviert. Das Nutzerkonto und alle dazu gespeicherten Daten des Nutzers werden spätestens sechs Monate nach Vertragsbeendigung gelöscht. Dies gilt nicht für Daten, zu deren Aufbewahrung Stumarkt gesetzlich verpflichtet ist oder an deren Aufbewahrung ein berechtigtes Interesse hat, z.B. um nach einer berechtigten Sperrung ein erneutes Anmelden zu verhindern.
      li  Stumarkt behält sich außerdem das Recht vor, Nutzerkonten mit unvollständigen Registrierungsdaten und Nutzerkonten, die für einen Zeitraum von mindestens 12 Monaten inaktiv waren, unwiderruflich zu deaktivieren.
    br
    span.title § 11 Datenschutz
    br
    span Detaillierte Informationen zur Erhebung, Verarbeitung und Nutzung personenbezogener Daten des Nutzers im Zusammenhang mit der Registrierung, der Durchführung der Nutzungsvereinbarung und der Nutzung der Stumarkt-Dienste finden sich in der Datenschutzerklarung  von Stumarkt.
    br
    span.title § 12 Änderung der Nutzungsbedingungen
    br
    span Für Änderungen dieser Nutzungsbedingungen gilt: Der Nutzer kann den geänderten Nutzungsbedingungen einerseits zustimmen, indem er sie mit dem Einstellen einer Anzeige oder bei der Anfrage zu einem Inserat akzeptiert; Stumarkt wird dies dann durch einen entsprechenden Hinweis besonders kennzeichnen. Anderseits kann Stumarkt dem Nutzer jederzeit eine Änderung dieser Nutzungsbedingungen vorschlagen. Änderungen dieser Nutzungsbedingungen werden den Nutzern spätestens 30 Tage vor dem vorgeschlagenen Zeitpunkt ihres Wirksamwerdens in Textform (z. B. per E-Mail) angeboten. Die Zustimmung durch den Nutzer gilt als erteilt, wenn die Ablehnung nicht vor dem vorgeschlagenen Zeitpunkt des Wirksamwerdens der Änderungen gegenüber Stumarkt in Textform angezeigt wird. Wenn der Nutzer mit den Änderungen nicht einverstanden ist, steht ihm bis zu dem vorgeschlagenen Zeitpunkt des Wirksamwerdens der Änderungen ein fristloses und kostenfreies Kündigungsrecht zu. Stumarkt weist den Nutzer in der Nachricht, mit der die Änderungen angeboten werden, auch noch einmal besonders auf das Ablehnungsrecht, die Frist dafür und die Möglichkeit zur Kündigung hin. Die geänderten Nutzungsbedingungen werden zusätzlich auf der Website von Stumarkt veröffentlicht.
    br
    span.title § 13 Ausübung der Rechte durch Dritte, Vertragsübernahme
    br
    ul
      li  Stumarkt ist berechtigt, mit einer Ankündigungsfrist von vier Wochen seine Rechte und Pflichten aus diesem Vertragsverhältnis ganz oder teilweise auf einen Dritten zu übertragen. In diesem Fall ist der Teilnehmer berechtigt, den Nutzungsvertrag zu kündigen.
    br
    span.title § 14 Rechtswahl, Gerichtsstand, Verbraucherschlichtung
    br
    ul
      li  Auf die Nutzungsbedingungen, den Nutzungsvertrag und alle darauf basierende Vereinbarungen zwischen Stumarkt und dem Nutzer findet ausschließlich das Recht der Bundesrepublik Deutschland Anwendung. Die Anwendung des UN-Kaufrechts (CISG) ist ausgeschlossen. Handelt der Nutzer als Verbraucher, sind darüber hinaus die zwingenden Verbraucherschutzbestimmungen anwendbar, die in dem Staat gelten, in dem der Nutzer seinen gewöhnlichen Aufenthalt hat, sofern diese dem Nutzer einen weitergehenden Schutz gewähren.
      li  Ist der Nutzer Kaufmann im Sinne des Handelsgesetzbuchs, ein öffentlich-rechtliches Sondervermögen oder eine juristische Person des öffentlichen Rechts, ist Potsdam ausschließlicher Gerichtsstand für alle aus dem Nutzungsvertrag und den darauf basierenden Vereinbarungen entstehende Streitigkeiten. Gleiches gilt, wenn der Teilnehmer seinen Wohnsitz nach Vertragsschluss ins Ausland verlegt oder keinen allgemeinen Gerichtsstand in Deutschland hat. Für Nutzer, die Verbraucher sind, besteht ein Gerichtsstand am jeweiligen Wohnsitz des Nutzers. Für alle aus dem Nutzungsvertrag und diesen Nutzungsbedingungen entstehenden Streitigkeiten ist zusätzlicher Gerichtsstand für Verbraucher Potsdam.
      li  Stumarkt ist nicht bereit oder verpflichtet, an Streitbelegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen (§ 36 Abs. 1 Nr. 1 VSBG).
    br
    span.title § 15 Salvatorische Klausel
    br
    span Sollten einzelne Bestimmungen dieser Nutzungsbedingungen ganz oder teilweise nichtig oder unwirksam sein oder werden, so wird dadurch die Wirksamkeit der übrigen Bestimmungen nicht berührt. An die Stelle von nicht einbezogenen oder unwirksamen Bestimmungen dieser Nutzungsbedingungen tritt das Gesetzesrecht. Sofern solches Gesetzesrecht im jeweiligen Fall nicht zur Verfügung steht (Regelungslücke) oder zu einem untragbaren Ergebnis führen würde, werden die Parteien in Verhandlungen darüber eintreten, anstelle der nicht einbezogenen oder unwirksamen Bestimmung eine wirksame Regelung zu treffen, die ihr wirtschaftlich möglichst nahe kommt.
    br
    br
    a.back-button(href="/auth/register") Zurück
    br
    br
    br
    br
    br 
    br
