.form-main-wrapper {
  margin-left: 50vw;
  margin-top: 50vh;
  transform: translate(-50%, -50%);
  width: 50%;
}
.form-line {
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(248, 248, 248);
  border: 2px solid rgb(236, 235, 235);
  border-radius: 15px;
  margin-bottom: 15px;
  padding-right: 20px;
}
.form-line i {
  font-size: 100%;
  color: rgb(112, 112, 112);
  margin: 0px 10px;
}
.form-input {
  background: transparent;
  display: flex;
  align-items: center;
  border: 0px;
  height: 100%;
  width: 100%;
  padding: 15px 0;
  outline: none;
  font-size: 125%;
  font-weight: 300;
  color: rgb(112, 112, 112);
  font-family: "Source Sans Pro";
}
.login-logo {
  height: 10vh;
  margin-left: 5%;
  margin-bottom: 2%;
}
.form-wrapper {
  background: white;
  width: 100%;
  border-radius: 15px;
  border: 2px solid rgb(236, 235, 235);
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.form-header-title {
  font-size: 150%;
  color: rgb(112, 112, 112);
  font-weight: 300;
}
.form-send-button {
  text-align: center;
  height: 8vh;
  width: 100%;
  background: rgba(255, 108, 128, 0.3);
  border: 2px solid rgba(255, 61, 148, 0.34);
  color: rgb(255, 61, 148);
  font-size: 125%;
  font-weight: 700;
  font-family: "Source Sans Pro";
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
}
.form-send-button:hover {
  border: 2px solid rgba(255, 61, 148, 0.5);
}

@media only screen and (orientation: portrait) {
  .form-main-wrapper {
    width: 95%;
    height: 95vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .form-send-button {
    margin-bottom: 15px;
  }
  .form-header {
    margin-bottom: 15px;
  }
}
