extends ./../partials/header
block main
  form.form-wrapper(action="/edit/user" method="post")
    .form-title Einstellungen
    .profile-photo-wrapper
      img(src=user.profilePhoto)
      span click to change
    .form-line
      input.form-input(type="text" autocomplete="off" autofocus required placeholder="Name" name="name" value=user.name)
