.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 2% 0%;
}

.general-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background: white;
  border: 2px solid rgb(236, 235, 235);
  border-radius: 15px;
  color: rgb(255, 61, 148);
  font-size: 200%;
  font-weight: 600;
  text-align: center;
  padding: 50px 0;
}
.latest-product-title {
  width: 90%;
  font-size: 175%;
  color: rgb(112, 112, 112);
  font-weight: 700;
  margin-top: 25px;
}
.latest-product-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1vw;
  width: 90%;
  margin: 25px 0px;
}
.each-product {
  height: 40vh;
  padding: 2%;
  background: white;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(236, 235, 235);
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}
.each-product:hover {
  border: 2px solid rgb(220, 220, 220);
}
.each-product-image-wrapper {
  height: 20vh;
  width: 15vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background: rgb(245, 245, 245);
  border-radius: 15px;
}
.each-product-image-inner-wrapper {
  width: 100%;
}
.product-image {
  width: 100%;
  min-height: 100%;
}
.product-name {
  font-size: 100%;
  font-weight: 700;
  color: rgb(112, 112, 112);
  margin-top: 15px;
  width: 15vw;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.product-price {
  color: rgb(255, 61, 148);
  font-size: 175%;
  font-weight: 700;
  margin-top: auto;
  margin-left: auto;
}
.product-location {
  font-size: 100%;
  font-weight: 300;
  color: rgb(112, 112, 112);
  display: flex;
  align-items: center;
}
.product-location i {
  margin-right: 5px;
}

@media only screen and (max-width: 1150px) and (min-width: 950px) {
  .general-info-wrapper {
    font-size: 200%;
  }
}

@media only screen and (max-width: 950px) and (min-width: 300px) {
  .general-info-wrapper {
    font-size: 150%;
  }
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
  .each-product {
    height: 35vh;
  }
  .product-name {
    width: 27vw;
  }
  .latest-product-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .each-product-image-wrapper {
    width: 27vw;
  }
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .each-product {
    height: 40vh;
  }
  .each-product-image-wrapper {
    width: 40vw;
  }
  .product-name {
    width: 40vw;
  }
  .latest-product-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
