.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 25px 0px;
}

.general-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background: white;
  border: 2px solid rgb(236, 235, 235);
  height: 25%;
  border-radius: 15px;
  color: rgb(255, 61, 148);
  font-size: 40px;
  font-weight: 600;
}
.latest-product-title {
  width: 90%;
  font-size: 35px;
  color: rgb(112, 112, 112);
  font-weight: 700;
  margin-top: 25px;
}
.latest-product-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1vw;
  width: 90%;
  height: 50%;
  margin: 25px 0px;
}
.each-product {
  height: 40vh;
  width: 100%;
  padding: 2%;
  background: white;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(236, 235, 235);
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}
.each-product:hover {
  border: 2px solid rgb(220, 220, 220);
}
.product-image {
  max-height: 50%;
  max-width: 100%;
  border-radius: 15px;
}
.product-name {
  font-size: 30px;
  font-weight: 700;
  color: rgb(112, 112, 112);
  margin-top: 15px;
  width: 15vw;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.product-price {
  color: rgb(255, 61, 148);
  font-size: 36px;
  font-weight: 700;
}
.product-location {
  font-size: 19px;
  font-weight: 300;
  color: rgb(112, 112, 112);
  display: flex;
  align-items: center;
}
.product-location i {
  margin-right: 5px;
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
  .each-product {
    height: 35vh;
  }
  .product-name {
    width: 27vw;
  }
  .latest-product-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .each-product {
    height: 33vh;
  }
  .product-name {
    width: 40vw;
  }
  .latest-product-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
